.block9-box .bar {
  margin-bottom: 5rem;
}

.graph__month {
  position: absolute;
  bottom: -3.5rem;
  height: 2em;
  width: 183px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}

.graph__month-a {
  left: 0;
}

.graph__month-b {
  left: 223px;
}

.graph__month-v {
  left: 446px;
}

.graph__month-g {
  left: 669px;
}

.graph__month-d {
  left: 892px;
}

@media (max-width: 1280px) {
  .graph__month-a {
    left: 0;
  }

  .graph__month-b {
    left: 200px;
  }

  .graph__month-v {
    left: 400px;
  }

  .graph__month-g {
    left: 600px;
  }

  .graph__month-d {
    left: 800px;
  }
}

@media (max-width: 1000px) {
  .block9-box .bar {
    margin-bottom: 4rem;
  }

  .graph__month {
    width: 60px;
    bottom: -2.5rem;
    font-size: 12px;
  }

  .graph__month-a {
    left: 0;
  }

  .graph__month-b {
    left: 70px;
  }

  .graph__month-v {
    left: 140px;
  }

  .graph__month-g {
    left: 210px;
  }

  .graph__month-d {
    left: 280px;
  }
}

@media (max-width: 410px) {
  .graph__month {
    width: 50px;
  }

  .graph__month-a {
    left: 0;
  }

  .graph__month-b {
    left: 60px;
  }

  .graph__month-v {
    left: 120px;
  }

  .graph__month-g {
    left: 180px;
  }

  .graph__month-d {
    left: 240px;
  }
}