:root{
  --block1-right-heigh: 310px;
}
.block1__right{
  min-height: var(--block1-right-heigh);
}

.rocket-roket {
  width: 494px;
  position: absolute;
  top: -69px;
  right: 35px;
  z-index: 40;
  transform-origin: 75% 50%;
  opacity: 0;
  visibility: hidden;
}

.rocket-gear {
  position: absolute;
  top: 257px;
  left: 161px;
  z-index: 35;
  opacity: 0;
  visibility: hidden;
}

/* .rocket-gear.transform-on-scroll {
  transform-origin: 100% -600%;
} */

.rocket-sheet-clock-globe {
  width: 190px;
  position: absolute;
  top: 95px;
  right: 5px;
  z-index: 30;
  opacity: 0;  
  visibility: hidden;
}

/* .rocket-sheet-clock-globe.transform-on-scroll {
  transform-origin: -150% -50%;
} */

.rocket-sky-lg {
  width: 250px;
  position: absolute;
  top: 208px;
  left: -116px;
  z-index: 45;
  opacity: 0;
  visibility: hidden;
}

.rocket-sky-md-top {
  width: 160px;
  position: absolute;
  top: -47px;
  right: 166px;
  z-index: 15;
  opacity: 0;  
  visibility: hidden;
}

.rocket-sky-md {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 10;
  opacity: 0;  
  visibility: hidden;
}

.block1__right.smooth-entry .rocket-sky-lg{
  transform-origin: 0% 0%;
  animation: skyScaleIn 1000ms ease none, fadeIn 1000ms ease forwards;
  visibility: visible;
}

.block1__right.smooth-entry .rocket-roket{
  animation: rotateInRight 1000ms ease none, fadeIn 650ms ease forwards;
  visibility: visible;
}

.block1__right.smooth-entry .rocket-gear{
  transform-origin: 500% -320%;
  animation: scaleIn 1000ms ease none, fadeIn 650ms 350ms ease forwards;
  visibility: visible;
}

.block1__right.smooth-entry .rocket-sheet-clock-globe{
  transform-origin: 0% 25%;
  animation: scaleIn 1000ms ease none, fadeIn 650ms 350ms ease forwards;
  visibility: visible;
}

.block1__right.smooth-entry .rocket-sky-md-top{
  transform-origin: 0% 50%;
  animation: skyScaleIn 1000ms ease none, fadeIn 1000ms ease forwards;
  visibility: visible;
}

.block1__right.smooth-entry .rocket-sky-md{
  transform-origin: -10% 100%;
  animation: skyScaleIn 1000ms ease none, fadeIn 1000ms ease forwards;
  visibility: visible;
}

.block1__right.visible * {
  opacity: 1;
  visibility: visible;
}

@keyframes rotateInRight {
  from{
    transform: scale(.05) rotate(-90deg);
  }
  to{
    transform: scale(1) rotate(0deg);
  }
}
@keyframes scaleIn {
  from{
    transform: scale(.05);
  }
  to{
    transform: scale(1);
  }
}
@keyframes skyScaleIn {
  from{
    transform: scale(.75);
  }
  to{
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* .block1__right.animated .rocket-sky-lg,
.block1__right.animated .rocket-sky-md-top
{
  animation: moveHorizontalRight 4000ms linear infinite forwards;
  opacity: 1;
} */

/* .block1__right.animated .rocket-sky-md{
  animation: moveHorizontalLeft 4000ms linear infinite forwards;
  opacity: 1;
} */

/* .block1__right.animated .rocket-gear{
  animation: rotateRight 7000ms linear infinite;
  transform-origin: center;
  opacity: 1;
} */

/* .block1__right.animated .rocket-sheet-clock-globe{
  animation: globeTranslate 1000ms linear forwards, orbit 5000ms 1000ms linear infinite;
  transform-origin: center center;
  opacity: 1;
} */

/* @keyframes moveHorizontalRight {
  0%{
    transform: translate(0, 0)
  }
  50%{
    transform: translate(18.5%, -5%)
  }
  100%{
    transform: translate(0, 0)
  }
} */

/* @keyframes moveHorizontalLeft {
  0%{
    transform: translateX(0)
  }
  50%{
    transform: translateX(-5%)
  }
  100%{
    transform: translateX(0%)
  }
} */

/* @keyframes rotateRight {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
} */

@keyframes orbit {
  from { 	transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@keyframes globeTranslate {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(10px)
  }
}

@media (max-width: 1000.98px) {
  /* .block1__right.pc { */
  .block1__right {
    display: block;
    margin-top: 150px;
    height: 400px;
  }
  .block1__right.mob {
    display: none;
  }
  .rocket-roket{
    left: calc(50% - 190px)
  }

  .rocket-gear {
    left: calc(50% - 25px)
  }

  .rocket-sheet-clock-globe {
    left: calc(50% + 150px)
  }

  .rocket-sky-lg {
    left: calc(50% - 325px)
  }

  .rocket-sky-md {
    left: calc(50% - 150px)
  }

  .rocket-sky-md-top {
    left: calc(50% - 0px)
  }
}

@media (max-width: 767.98px) {
  /* .block1__right.pc { */
  .block1__right {
    margin-top: 100px;
    height: 330px;
  }
  .rocket-roket{
    width: 400px;
  }

  .rocket-gear {
    width: 50px;
    left: calc(50% - 45px);
    top: 205px;
  }

  .rocket-sheet-clock-globe {
    width: 140px;
    top: 90px;
    left: calc(50% + 110px)
  }

  .rocket-sky-lg {
    width: 200px;
    top: 155px;
    left: calc(50% - 290px)
  }

  .rocket-sky-md {
    width: 360px;
    top: -30px;
    left: calc(50% - 175px)
  }

  .rocket-sky-md-top {
    width: 130px;
    top: -60px;
    left: calc(50% - 20px)
  }
}

@media (max-width: 414.98px) {
  :root{
    --height-ratio-414: .65;
    --width-ratio-414: .55;
  }
  /* .block1__right.pc { */
  .block1__right {
    height: auto;
    min-height: calc(var(--block1-right-heigh) * var(--height-ratio-414));
  }
  .rocket-roket{
    width: calc(490px * var( --width-ratio-414));
    left: calc(50% - 135px)
  }

  .rocket-gear {
    width: calc(61px * var( --width-ratio-414));
    left: calc(50% - 45px);
    top: 110px;
  }

  .rocket-sheet-clock-globe {
    width: calc(190px * var( --width-ratio-414));
    top: 29px;
    left: calc(50% + 70px)
  }

  .rocket-sky-lg {
    width: calc(265px * var( --width-ratio-414));
    top: 85px;
    left: calc(50% - 220px)
  }

  .rocket-sky-md {
    width: calc(450px * var( --width-ratio-414));
    top: -45px;
    left: calc(50% - 138px)
  }

  .rocket-sky-md-top {
    width: calc(160px * var( --width-ratio-414));
    top: -65px;
    left: calc(50% - 20px)
  }
}

@media (max-width: 359.98px) {
  :root{
    --height-ratio-414: .5;
    --width-ratio-414: .4;
  }
  /* .block1__right.pc { */
  .block1__right {
    height: auto;
    min-height: calc(var(--block1-right-heigh) * var(--height-ratio-414));
  }
  .rocket-roket{
    width: calc(490px * var( --width-ratio-414));
    left: calc(50% - 95px)
  }

  .rocket-gear {
    width: calc(61px * var( --width-ratio-414));
    left: calc(50% - 30px);
    top: 60px;
  }

  .rocket-sheet-clock-globe {
    width: calc(190px * var( --width-ratio-414));
    top: 2px;
    left: calc(50% + 60px)
  }

  .rocket-sky-lg {
    width: calc(265px * var( --width-ratio-414));
    top: 40px;
    left: calc(50% - 160px)
  }

  .rocket-sky-md {
    width: calc(450px * var( --width-ratio-414));
    top: -55px;
    left: calc(50% - 95px)
  }

  .rocket-sky-md-top {
    width: calc(160px * var( --width-ratio-414));
    top: -65px;
    left: calc(50% - 20px)
  }
}