.pc-img-block2{
  /* display: flex;
  align-self: stretch; */
  position: relative;
  min-height: 336px;
}

.warranty-scene{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 400px;
  max-width: 100%;
}

.warranty-text-wrap{
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 10;
  width: 143px;
  height: 88px;
  max-width: 45px;
  overflow: hidden;
}

.warranty-text{
  width: 143px;
}

.warranty-pen{
  position: absolute;
  top: 235px;
  left: 90px;
  width: 132px;
  z-index: 15;
}

.warranty-pen.sticky{
  position: fixed;
  z-index: 999;
  transition: opacity .5s;
}
.warranty-pen.unvisible{
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity .5s;
}

.warranty-pen.up{
  transform: rotate(17deg);
  left: 115px;
  top: 150px;
  transition: 1000ms;
}





