.sector-slider__pagination{
  display: none;
}

@media (min-width: 1001px) {
  .sector-slider .swiper-slide {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px);
  }
}

@media (max-width: 1000.98px) {
  .sector-slider__pagination{
    display: block;
  }
}