/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Golos-Text_Regular.ttf);
	font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Golos-Text_Medium.ttf);
	font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Golos-Text_Bold.ttf);
	font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/Montserrat-MediumItalic.ttf);
	font-display: swap;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #0f0a3f;
  color: #ffffff;
  overflow-x: hidden;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-image: cover;
}
a {
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.video-box iframe {
  border-radius: 0px 7px 7px 7px;
}
header a:hover {
  color: #00b2e8;
}
.desctope__none {
  display: none;
}
.index {
  overflow: hidden;
  background-repeat: no-repeat;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
}
/* С€Р°РїРєР° */
header {
  background: #231e4f;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054), inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054), inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 0px 0px 7px 7px;
  position: relative;
  z-index: 10000;
}
header.fixed {
  width: 100%;
  max-width: 1300px;
  height: 99px;
  position: fixed;
  top: 0px !important;
  background: #231e4f;
  left: calc(50% - 650px);
	z-index:99;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 21px;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-logo img {
  padding-top: 6px;
  width: 120px;
}

header .header-logo__first {
  position: absolute;
  left: 28px;
  width: 42px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
header .header-logo__second {
  position: absolute;
  left: 60px;
  width: 76px;
  bottom: 30px;
  opacity: 0;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-clip-path: polygon(48% 0%, 100% 2%, 100% 100%, 1% 100%, 0% 100%, 0% 80%, 19% 46%, 0% 9%, 0% 0%);
  clip-path: polygon(48% 0%, 100% 2%, 100% 100%, 1% 100%, 0% 100%, 0% 80%, 19% 46%, 0% 9%, 0% 0%);
}
.header-logo__first:hover,
.header-logo__second:hover {
  opacity: 1;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-menu__item {
  padding: 40px 9px 37px 9px;
  position: relative;
}

.header-menu__item a {
  color: #fff;
}

.header-menu__item a:hover {
  color: #00b2e8;
}

.header-menu__item a:hover ~ ul.header-menu__drop {
  color: #00b2e8;
}

.header-menu__link {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header-menu__link:hover {
  color: #00b2e8;
}
body .active,
.promotion__btn:hover,
.more__btn:hover,
.new__btn:hover,
.business__btn:hover,
.create__btn:hover,
.active__btn:hover,
.reviews-box__btn:hover {
  color: #00b2e8 !important;
}

.header-menu__drop {
  list-style: none;
  position: absolute;
  background: #231e4f;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054), inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054), inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  border-radius: 7px;
  min-width: 280px;
  padding: 2px 0 10px 0;
  margin-left: 0px;
  top: 69px;  
  z-index: 100;
  display:none;
}

/*
.header-menu__drop {
  list-style: none;
  position: absolute;
  background: #231e4f;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054), inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054), inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  border-radius: 7px;
  min-width: 280px;
  padding: 2px 0 10px 0;
  margin-left: 0px;
  top: 69px;  
  z-index: 100;
  opacity: 0;
  display:none;
}

.drop:hover > .header-menu__drop {
	opacity: 1;
	display:block;
}

.dropdown-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
*/
@media (min-width: 1000px) {
  .dropdown:hover + .header-menu__drop {
    z-index: 100;
  }
  .header-menu__drop:hover {
    z-index: 100;
}

.header-menu__dropitem a {
  padding: 5px 15px;
  display: block;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header-menu__dropitem a:hover {
  color: #00b2e8;
}
.header-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-callback a {
  color: #ffffff;
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #00b2e8;
  border-radius: 7px;
  padding: 16px 25px;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.header-callback a:hover {
  -webkit-box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #ffffff;
}


.elogo {
  position: absolute;
  left: 26px;
  width: 44px;
  fill: #fff;
}

.elogo:hover {
  fill: #00b2e8;
}

.jlogo {
  position: absolute;
  left: 60px;
  width: 76px;
  fill: #fff;
}

.jlogo:hover {
  fill: #00b2e8;
}

@media (max-width: 1250px) {
  .elogo {
    top: 6px;
  }
  .jlogo {
    top: 6px;
  }
}

.mobile-menu__phone {
  top: 3px;
  position: relative;
}

@media (min-width: 768px) {
.fixpc{
	display:none!important;
}
	}

@media (max-width: 768px) {
.fixphone{
	display:none!important;
}
	}	
.header-menu__drop li.header-menu__item {
    padding: 5px 10px 5px 9px;
}

.header-menu__item.header-menu__dropitem a {
    color: #fff;
}

.header-menu__item.header-menu__item--active.header-menu__dropitem a{
    color: #00b2e8;
}


/* РєРѕРЅРµС† С€Р°РїРєРё  */