@use '_partials/variables' as v;
@use '_partials/mixins' as m;

// =====================================================================
// TOC:
// I. Fonts
// II. Reset
// III. Default Styles
//    1. Basic
//    2. Typography
//    3. Links
//    4. Images
//    5. Buttons
//    6. Forms
// IV. Others

// =====================================================================

/* I. Styles reset
--------------------------------------- */ 

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   border: 0;
   outline: 0;
//    font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

[hidden] { display: none; }

button,
input{
	border: none;
	outline: none;
	border-radius: 0;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
 }

i{display: inline-block;}
 
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
 
blockquote,
q{
	quotes: &#8220 &#8220;
	&:before,
	&:after{
		content: '';
		content: none;
	}
}

ul, ol{
	list-style: none;
}
 
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* III. Default styles
--------------------------------------- */ 

/* 1. Basic
------------------- */ 

html{
	font-family: "Raleway", "Helvetica", sans-serif;
	font-feature-settings: 'pnum' on, 'lnum' on;
	font-weight: 400;
	line-height: 1.2;
	font-size: 10px;
	color: v.$text-primary-color;
}


h1, h2, h3, h4, h5, h6,
p{
	cursor: default;
}

// Use .container if grid.css is not connected
.container{
	&,
	&_xl,
	&_lg,
	&_md,
	&_sm{
		margin: 0 auto;
		padding: 0 v.$gutter;
	}
}

.container{
	max-width: 123rem;
	&_xl{
		max-width: 114rem;
	}
	&_lg{
		max-width: 96rem;
	}
	&_md{
		max-width: 72rem;
	}
	&_sm{
		max-width: 54rem;
	}
}

// ЭТО НАФИГ ПЕРЕДЕЛАТЬ
.d{
	&-mobile{
		display: none;
	}
}
// - - - - - - - - - - -

.d{
	&-none{
		display: none;
	}
	// &-block{
	// 	&_xl,
	// 	&_lg,
	// 	&_md,
	// 	&_sm,
	// 	&_xs,
	// 	&_xxs{
	// 		display: none;
	// 	}
	// }
	&-block{
		display: block;
	}
}

.scroll-hidden{
  /*для скрытия полосы прокрутки*/
  padding-right: 17px;
  overflow: hidden;
}

.wrapper{
	margin: 0 auto;
	max-width: 1920px;
	overflow: hidden;
	position: relative;
}

/* 2. Typography
-------------------------*/
address{
	font-style: normal;
}
body{
	font-size: 1.6rem;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Raleway", "Helvetica", sans-serif;
	font-weight: 700;
}
h2, h3, h4, h5, h6{
	line-height: 1.4;
}

h1{
	font-size: 3.8rem;
	line-height: 1.2;
}
h2{
	font-size: 3.6rem;
}
h3{
	font-size: 2.6rem;
}
h3{
	font-size: 2rem;
}
.text{
	&_primary-blue{
		color: v.$text-primary-blue;
	}
	&_semibold{
		font-weight: 600;
	}
	&_bold{
		font-weight: 700;
	}
}

/* 3. Links
-------------------------*/

a, a:visited {
   text-decoration: none;
   outline: none;
   color: v.$menu-item-color;
   transition: color .3s ease-in-out;
   &.text-link{
	color: v.$text-primary-blue;
	text-decoration: underline;
   }
}
a{
	&.text-link{
		&:hover,
		&:focus{
			text-decoration: none;
		}
		&:active{
			text-decoration: none;
		}
	}

}


 /* 4. Images
 -------------------------*/

 img {
	
	max-width: 100%;
	height: auto;
 }

 /* 5. Buttons
 -------------------------*/

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn{
	font-family: "Raleway", "Helvetica", sans-serif;
	text-decoration: none;
	cursor: pointer;
	// transition: all .3s ease-in-out;
	user-select: none;
 }

// button,
// input[type="submit"],
// input[type="reset"],
// input[type="button"],
// .btn{
// 	&:hover{
// 	background: #3d4145;
// 	color: #fff;
// 	}
// }

// button,
// input[type="submit"],
// input[type="reset"],
// input[type="button"],
// .btn{
// 	&:active{
// 	background: #3d4145;
// 	color: #fff;
// 	}
// }

//  .btn styles from prev version
.btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: none;
	overflow: hidden;
	&__text{
		margin-left: 1.2rem;
	}
	&_full-width,
	&_lg,
	&_md,
	&_sm{
		// заполняет всю ширину родителя- независимо от текста
		width: 100%;
	}
	&_lg{
		max-width: 20rem;
	}
	&_md{
		max-width: 15rem;
	}
	&_sm{
		max-width: 10rem;
	}
	&_file{
		width: 8rem;
		height: 8rem;
		border: 2px solid rgba(125, 133, 157, 0.2);
		.icon{
			&_hover{
				display: none;
			}
		}
		&:hover{
			@include m.btnFileHover;
			.icon{
				&_default{
					display: none;
				}
				&_hover{
					display: block;
				}
			}
		}
		&:active{
			@include m.btnFileActive;
			.icon{
				&_default{
					display: none;
				}
				&_hover{
					display: block;
				}
			}
		}
	}
	&_primary{
		padding: 1.4em;
		height: 8rem;
		font-size: 1.8rem;
		font-weight: 700;
		color: v.$btn-primary-color;
		@include m.btnPrimatyBg;
		@include m.btnPrimatyShadow;
		overflow: hidden;
		&:hover{
			@include m.btnPrimatyBgHover;
		}
		&:active{
			@include m.btnPrimatyBgActive;
		}
	}
	&_secondary{
		padding: 0 1.33em;
		height: 3.3em;
		line-height: 3.3em;
		font-size: 1.5rem;
		font-weight: 600;
		color: v.$btn-sec-color;
		background: v.$btn-sec-bg;
		&:hover{
			background: v.$btn-sec-bg-hover;
		}
		&:active{
			background: v.$btn-sec-bg-active;
		}
	}
	&_outline{
		color: v.$outline-btn-color;
		background: none;
		border: .1rem solid v.$outline-btn-color;
		&:hover{
			@include m.btnFileHover;
			color: #fff;
		}
		&:active{
			@include m.btnFileActive;
			color: #fff;
		}
	}
	&:active{
		// transform: translateY(10px);
	}
	&_shiny{
		position: relative;
		overflow: hidden;
		&::before{
			display: block;
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 45px;
			transform: skewX(-45deg);
			animation: shiny;
			left: -150%;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
			animation: shiny 5s infinite linear;
		}
	}
}

button{
	&[type="submit"]{
		display: inline-block;
	}
}

.play-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	// position: relative;
	border-radius: 50%;
	background: linear-gradient(180deg, #37AAFD 0%, #1C84E3 100%);
	box-shadow: 0px 3px 0px -1px #1A6EBB, 0px 20px 20px -4px rgba(126, 176, 240, 0.5), inset 0px 4px 8px 4px rgba(255, 255, 255, 0.12);
	i{
		margin-left: 0.3em;
		display: inline-block;
	}
	&:hover{
		background: linear-gradient(180deg, #54B7FF 0%, #2A93F4 100%);
		box-shadow: 0px 4px 0px -1px #1A6EBB, 0px 20px 20px -4px rgba(126, 176, 240, 0.5), inset 0px 4px 8px 4px rgba(255, 255, 255, 0.12);
	}
	&:active{
		background: #5BB8FF;
		box-shadow: 0px 4px 0px -1px #1A6EBB, 0px 20px 20px -4px rgba(126, 176, 240, 0.5), inset 0px 4px 8px 4px rgba(255, 255, 255, 0.12);
	}
	&_md{
		width: 6rem;
		height: 6rem;
		i{
			transform: scale(.75);
		}
	}
	&_lg{
		width: 8rem;
		height: 8rem;
	}
}

@keyframes shiny {
    0% {
        left: -150%;
    }
    20% {
        left: 150%;
    }
    100% {
        left: 150%;
    }
}

/* 6. Forms 
-------------------------*/

input:not(input[type="checkbox"]),
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

input:-ms-input-placeholder{color: rgba(115, 255, 0, 0.938);}
input::-webkit-input-placeholder{color: rgba(255, 0, 0, 0.95);}
input::-moz-placeholder{color: rgba(8, 94, 255, 0.918);}

input::-ms-clear {
   display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	display: none;
}

select::-ms-expand {
    display: none;
}

.form{
	font-size: 1.8rem;
	&__group{
		position: relative;
		margin-bottom: 2.5rem;
		padding-top: .8rem;
		width: 100%;
		overflow: hidden;
		&.focused{
			.form__control{
				border-color: v.$form-control-border-focus;
				// box-shadow: 0 0 2px 0px rgba(66, 66, 255, 0.5),
				// 	inset 0 0 2px 0px rgba(66, 66, 255, 0.5);
			}
			.form__label_control{
				margin-top: 1rem;
				margin-left: .8rem;
				padding: 0 0.5rem;
				height: auto;
				color: v.$form-control-border-focus;
				background-color: rgb(255, 255, 255);
				transform-origin: 0 50%;
				transform: translateY(calc(-100% + 1rem)) scale(.8);
			}
		}
		&.valid{
			.form__label_control{
				    margin-top: 1rem;
					margin-left: .8rem;
					padding: 0 0.5rem;
					height: auto;
					color: v.$form-control-border-focus;
					background-color: rgb(255, 255, 255);
					transform-origin: 0 50%;
					transform: translateY(calc(-100% + 1rem)) scale(.8);
			}
			.form__control{
				border-color:v.$form-control-border-focus;
				// background: rgba(12, 173, 12, 0.39);
				// box-shadow: 0 0 2px 0px rgba(66, 66, 255, 0.5),
				// 	inset 0 0 2px 0px rgba(66, 66, 255, 0.5);
			}
			// &:after{
			// 	display: block;
			// 	content: '';
			// 	position: absolute;
			// 	z-index: 5;
			// 	top: .5rem;
			// 	right: 10px;
			// 	bottom: 0;
			// 	width: 2rem;
			// 	height: 100%;
			// 	background: url(../img/check-icon.svg) center no-repeat;
			// 	background-size: contain;
			// }
		}
		&.form__group_search:not(.focused):not(.valid){
			.form__label_search{
				color: blue;
			}
		}
	}
	&__control{
		
		padding: 2.2rem 2.2rem 2.2rem 5.8rem;
		width: 100%;
		height: 7rem;
		font-family: "Raleway", "Helvetica", sans-serif;
		font-size: 1.8rem;
		font-weight: 400;
		color: v.$form-control-color;
		background: v.$form-control-bg;
		border: 1px solid v.$form-control-border;
		border-radius: v.$form-control-radius;
		box-shadow: inset 0px 2px 15px v.$form-control-shadow;
		outline: none;
		&:hover{
			border-color: v.$form-control-border-hover;
		}
	}
	&__label{
		&_control{
			position: absolute;
			left: 0;
			top: 0;
			padding: 1.2rem 1.2rem 0rem v.$form-label-padding-left;
			padding-left: v.$form-label-padding-left;
			display: flex;
			align-items: center;
			// font-weight: 400;
			height: 100%;
			color: v.$form-label-color;
			white-space: nowrap;
			transition: transform .2s;
			cursor: text;
			user-select: none;
		}
	}
	&-icon{
		position: absolute;
		top: 50%;
		transform: translateY(-30%);
		left: calc(v.$form-label-padding-left / 2);
	}
	&__submit{
		height: 7rem;
	}
	&__footer{
		margin-top: 3rem;
		font-size: 1.4rem;
		p{
		   margin: 0 auto;
		   max-width: 30rem;
		   text-align: center;
		}
	 }
}


/* IV. Others
--------------------------------------- */ 



/* V. Sprite
--------------------------------------- */ 