@use '_partials/variables'as v;
@use '_partials/mixins'as m;


@import "comments.scss";
@import "fonts.scss";
@import "default.scss";
// @import "grid.scss";
@import "../../../tmp/scss/sprite.scss";


// Здесь будут основные стили проекта



/* VI. Layout
--------------------------------------- */


/* Header 
-------------------------*/
.header {
   // padding: 2.5rem 0;
   position: absolute;
   z-index: 990;
   width: 100%;
   transition: background-color .3s;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2.5rem;
   }

   &__logo {
      margin-right: 2rem;
      max-width: 101px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__work {
      max-width: 8.8rem;
   }

   &-nav {
      width: 100%;
   }

   &-contacts {
      margin-left: 2rem;
      text-align: right;
   }

   &-phone {
      font-feature-settings: 'pnum'on, 'lnum'on;

      a {
         font-size: 2rem;
         font-weight: 700;
         color: v.$header-phone-color;
      }
   }

   &-mail {
      a {
         font-size: 1.8rem;
         font-weight: 500;
         color: v.$header-mail-color;
      }
   }

   &.white {
      background: #fff;
      box-shadow: 0px 10px 10px rgba(146, 171, 234, 0.06);
   }
}

.logo {
   max-width: 10.1rem;

   &-wrapper {
      display: flex;
   }
}

.top-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

   &-wrapper {
      margin: 0 1rem;
      display: flex;
      flex: 1;
      max-width: 49.6rem;
      min-width: 36rem;
   }

   &__item {
      font-size: 1.5rem;
      font-weight: 500;

      &:hover {
         &>a {
            color: v.$btn-sec-color;
            transition: color 0;
         }
      }
   }

   &-toggler {
      display: none;
   }
}

.dropdown {
   &:hover {
      &>.dropdown__box {
         opacity: 1;
         transform: scale(1);
         z-index: 1;
      }

      &>.dropdown__arrow {
         transform: scaleY(-1);
      }
   }

   &__box {
      position: relative;
      opacity: 0;
      transition: .25s;
      transform: scale(0.95);
      z-index: -1;
   }

   &__arrow {
      display: inline-block;
      margin-left: 0.5em;
      transition: transform .3s;
   }
}

.sub-menu {
   position: absolute;
   min-width: 100%;
   background: darken(rgba(255, 255, 255, 0.671), 7%);
   border-radius: 0px 0px .6rem .6rem;
   box-shadow: 0px 25px 40px rgba(146, 171, 234, 0.3);
   white-space: nowrap;

   .top-menu {
      &__item {
         margin-right: 0;
         padding: 0.4em .8em;
         transition: background-color .3s;

         &:hover {
            background-color: rgba(255, 255, 255, 0.671);
         }
      }
   }
}

.contacts {
   &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.section {
   padding: 12rem 0 3rem;
   position: relative;

   &__heading {
      margin-bottom: 2rem;
      text-align: center;

      h2 {}
   }

   &__subheading {
      display: block;
      font-weight: 400;
   }

   &__bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      &_cover {
         img {
            object-fit: cover;
         }
      }

      &_contain {
         img {
            object-fit: contain;
         }
      }

      img {
         width: 100%;
         height: 100%;
      }
   }

   &__img {
      position: absolute;

      img {
         display: block;
      }
   }
}

/* Intro 
-------------------------*/
.intro {
   position: relative;
   padding-bottom: 0;

   &__container {
      position: relative;
      padding-top: 4.5rem;
      padding-bottom: 18rem;
   }

   &__content {
      position: relative;
      z-index: 10;
      max-width: 85rem;
   }

   &__subheading {
      font-weight: 500;
   }

   &-power {
      margin-top: 5rem;
      padding: 1rem;
      position: relative;
      max-width: 63rem;
      background-color: #fff;
      border-radius: 2rem;

      &__inner {
         padding: 2rem 2.5rem 1.5rem 9rem;
         font-size: 2rem;
         font-weight: 500;
         border-radius: 1.2rem;
         border: 1px solid #EBF3FA;
      }

      &__img {
         position: absolute;

         &_street {
            left: -8rem;
            top: -2rem;

            img {
               display: block;
               max-width: 20.6rem;
            }
         }

         &_arrow {
            right: -6rem;
            bottom: -11rem;

            img {
               max-width: 6.7rem;
            }
         }
      }
   }

   &-offer {
      margin-top: 4rem;
      position: relative;
      max-width: 48.5rem;
      font-size: 2rem;
      font-weight: 500;
      color: #6B738D;

      &.line-blue {
         margin-left: 1.5rem;

         &::before {
            display: block;
            position: absolute;
            left: -1.5rem;
            content: '';
            height: 100%;
            width: 4px;
            border-radius: 3px;
            background: linear-gradient(180deg, #7DC8FF 0%, #46A7ED 100%, #46A7ED 100%), #C4C4C4;
         }
      }
   }

   &-btns {
      margin-top: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .btn_file {
         margin-left: 2rem;
      }
   }

   &__bg {
      img {
         object-position: center top;
      }
   }

   &__clouds {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      z-index: 6;

      img {
         object-position: center bottom;
      }
   }

   &__man {
      right: 2rem;
      bottom: 0;
      z-index: 3;

      img {
         max-width: 46.5rem;
      }

      &_mobile {
         display: none;
      }
   }
}


/* Lazy 
-------------------------*/
.lazy {
   width: 100%;
   height: 100%;
   // position: relative;
   // background: #FFF;
   // &::after{
   // content: "";
   // width: 100%;
   // height: 100%;
   // top: 0;
   // left: 0;
   // bottom: 0;
   // right: 0;
   // position: absolute;
   background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), -o-linear-gradient(#DDD 100%, transparent 0);
   background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(255, 255, 255, 0.5)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DDD), color-stop(0, transparent));
   background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), linear-gradient(#DDD 100%, transparent 0);
   background-repeat: no-repeat;
   background-size: 26% 100%, cover;
   background-position: 0 0, 0 0, 0px 85px, 0px 110px;
   /* -webkit-animation: animloader 1s linear infinite; */
   -webkit-animation: animloader 1s linear infinite;
   animation: animloader 1s linear infinite;

   // }
   img {
      visibility: hidden;
   }
}


@-webkit-keyframes animloader {
   0% {
      background-position: 0 0, 0 0, 0px 85px, 0px 110px
   }

   100% {
      background-position: 150% 0, 0 0, 0px 85px, 0px 110px
   }
}


@keyframes animloader {
   0% {
      background-position: 0 0, 0 0, 0px 85px, 0px 110px
   }

   100% {
      background-position: 150% 0, 0 0, 0px 85px, 0px 110px
   }
}

/* Form-section 
-------------------------*/
.form-section {
   padding-top: 0;

   &__container {
      // padding-left: 0;
      // padding-right: 0;
      position: relative;
   }

   &__inner {
      padding-top: 1.5rem;
      padding: 1.5rem 8rem 3rem 8rem;
      position: relative;
      z-index: 5;
      text-align: center;
      border-radius: v.$form-section-inner-border-radius;
      background: v.$form-section-inner-bg;
      @include m.formSectionInnerShadow;

      // overflow: hidden;
      &::after {
         display: block;
         width: calc(100% - 10rem);
         height: 3rem;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: -3rem;
         content: '';
         background: rgba(255, 255, 255, 0.6);
         @include m.formSectionInnerShadowAfter;
         border-bottom-right-radius: v.$form-section-inner-border-radius;
         border-bottom-left-radius: v.$form-section-inner-border-radius;
         z-index: -1;
      }
   }

   &__heading {
      margin-bottom: 2rem;

      h3 {
         font-size: 2.6rem;
      }
   }

   &__subheading {
      font-size: 2.6rem;
   }

   &__text {
      font-size: 1.8rem;
   }

   &-wrapper {
      margin-top: 2.5rem;
   }

   &__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__group {
      max-width: 33rem;

      &.form__group.focused,
      &.form__group.valid {
         .form__label_control {
            transform: translateY(calc(-100% + 1.3rem)) scale(0.8);
         }
      }

      // .form__group.focused .form__label_control
   }

   &__submit {
      margin-top: 0.8rem;
      width: 32rem;
   }
}


/* Want-check 
-------------------------*/
.want-check {
   padding-bottom: 5rem;

   &__modem {
      max-width: 33.5rem;
      left: -18rem;
      bottom: -11rem;
      z-index: 8;
   }

   &__phone {
      max-width: 35rem;
      right: -25rem;
      bottom: -15rem;
      z-index: 3;
   }

   &__inner {
      padding-bottom: 2.5rem;
   }

}


/* Stars 
-------------------------*/
.stars {
   text-align: center;

   &__subheading {
      font-size: 1.8rem;
   }

   &-slider {
      &__bg {
         img {
            object-position: 67% bottom;
         }
      }
   }

   &__slider {
      overflow: hidden;

      &-wrapper {
         margin-top: 7.5rem;
         margin-bottom: 7.5rem;
         position: relative;

      }

      // width: 100%;
      // height: 300px;
   }

   &-slide {
      padding-top: 2rem;
      width: v.$stars-slide-width;
      height: 43rem;
      position: relative;
      z-index: 10;
      transition: opacity .8s;
      opacity: 0.25;

      // overflow: hidden;
      &:active {
         cursor: grab;
      }

      &.swiper-slide-active {
         opacity: 1;
         z-index: 15;
      }

      &__img {
         height: 100%;
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;

         img {
            display: block;
            height: 100%;
         }
      }
   }

   &-card {
      display: flex;
      padding: 1rem;
      width: 43.1rem;
      height: 25.8rem;
      background: v.$stars-card-bg;
      box-shadow: 0px 40px 60px rgba(126, 176, 240, 0.2);
      border-radius: v.$stars-card-rad;

      &__inner {
         padding: 3rem;
         width: 100%;
         height: 100%;
         text-align: left;
         border: 1px solid #EBF3FA;
         box-sizing: border-box;
         border-radius: v.$stars-card-inner-rad;
         overflow: hidden;
      }

      &__heading {
         h4 {
            font-weight: 600;
         }
      }

      &__text {
         margin-top: 1.5rem;
         margin-bottom: 1.5rem;
         max-width: 34rem;
         text-align: justify;
      }

      &__btn {
         animation: radial-pulse 2.5s infinite;

         &-wrapper {
            text-align: left;
         }
      }
   }

   &__quote-container {
      max-width: 114rem;
   }
}

@keyframes radial-pulse {
   0% {
      // transform: scale(1);
      box-shadow: 0 0 0 0px rgba(40, 150, 240, .5);
   }

   75% {
      // transform: scale(1.02);
      box-shadow: 0 0 0 0px rgba(40, 150, 240, .5);
   }

   100% {
      // transform: scale(1);
      box-shadow: 0 0 0 20px rgba(40, 150, 240, 0);
   }
}

// swiper-button-prev
.swiper {
   &-button {

      &-prev,
      &-next {
         width: v.$stars-slider-btn-width;
         height: v.$stars-slider-btn-width;
         background: v.$swiper-btn-bg;
         box-shadow: 0px 2px 0px -1px #1A6EBB, 0px 20px 20px -4px rgba(126, 176, 240, 0.5), inset 0px 4px 8px 4px rgba(255, 255, 255, 0.12);
         border-radius: 50%;

         &::after {
            // margin-top: 0.3em;
            font-size: 1.6rem;
            color: #fff;
         }

         &:hover {
            background: v.$swiper-btn-hover-bg;
         }

         &:active {
            background: v.$swiper-btn-active-bg;
         }
      }

      &-prev {
         // left: 49rem;
         left: calc(50% - (v.$stars-slide-width / 2) - (v.$stars-slider-btn-width * 2));

         &::after {
            margin-right: 0.1em;
         }
      }

      &-next {
         // right: 49rem;
         right: calc(50% - (v.$stars-slide-width / 2) - (v.$stars-slider-btn-width * 2));

         &::after {
            margin-left: 0.1em;
         }
      }
   }
}

.layer-block {
   padding: 0;
   position: relative;
   z-index: 5;
   text-align: center;
   border-radius: v.$form-section-inner-border-radius;
   background: v.$form-section-inner-bg;
   @include m.formSectionInnerShadow;

   // overflow: hidden;
   &::after {
      display: block;
      width: calc(100% - 6rem);
      height: 2rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2rem;
      content: '';
      background: rgba(255, 255, 255, 0.6);
      @include m.formSectionInnerShadowAfter;
      border-bottom-right-radius: v.$form-section-inner-border-radius;
      border-bottom-left-radius: v.$form-section-inner-border-radius;
      z-index: -1;
   }
}

.quote {
   padding: 6.3rem 14rem;
   position: relative;

   &_before,
   &_after {
      display: block;
      position: absolute;
   }

   &_before {
      transform: scale(-1);
      bottom: 5rem;
      right: 7rem;
   }

   &_after {

      top: 5rem;
      left: 7rem;
   }

   &__text {
      font-size: 3rem;
   }
}


/* About 
-------------------------*/
.about {
   padding-bottom: 10rem;

   &__container {
      // padding-left: 0;
      // padding-right: 0;
   }

   &-grid {
      padding: 2.2rem;
      position: relative;
      z-index: 5;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1.2rem;
      background: linear-gradient(119.36deg, rgba(255, 255, 255, 0) 0%, rgba(70, 167, 237, 0.006) 100%), #ffffff;
      box-shadow: 0px 5px 10px rgba(146, 171, 234, 0.16);
      border-radius: 24px;

      &-wrapper {
         position: relative;
         margin-top: 6rem;
         padding: 2rem;
         background: rgba(255, 255, 255, 0.6);
         box-shadow: 0px 60px 120px rgba(146, 171, 234, 0.16);
         border-radius: 3rem;
         // overflow: hidden;
      }

      &-overlay {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 1;
         width: 100%;
         height: 100%;

         filter: blur(20px);

      }

      &__item {
         height: 27rem;
         border-radius: v.$grid-item-rad;
         overflow: hidden;
      }
   }

   &-card {
      padding: 3.5rem 2rem 4.3rem 3.5rem;
      border: 1px solid #EBF3FA;

      // box-shadow: 0px 5px 16px rgba(146, 171, 234, 0.2);
      &-img {
         filter: drop-shadow(0px 5px 16px rgba(146, 171, 234, 0.2));

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &__content {
         height: 100%;
      }

      &__title {
         display: flex;
         align-items: center;
         height: 100%;
         font-size: 2rem;

         span {
            font-size: 2.4rem;
            font-weight: 700;
            color: v.$primary-color;
         }
      }

      &__text {
         max-height: 100%;
         font-size: 1.5rem;
         line-height: 1.45;
         overflow: hidden;
      }

      &.open {
         position: relative;
         box-shadow: 0px 5px 16px rgba(146, 171, 234, 0.2);

         .about-card__title {
            height: 0;
         }

         &::after {
            position: absolute;
            left: 2rem;
            bottom: 2.6rem;
            display: block;
            width: 8rem;
            height: 1px;
            content: '';
            background: linear-gradient(180deg, #36A9FC 0%, #1C84E3 100%);
            box-shadow: 0px 6px 10px rgba(126, 176, 240, 0.8);
         }
      }
   }

   &__box {
      max-width: 56rem;
      left: 0rem;
      bottom: -37rem;
      z-index: 5;
   }


}

/* Goods 
-------------------------*/
.goods {
   position: relative;
   padding-top: 4rem;

   &__heading {
      margin-bottom: 5.5rem;
   }

   &__box {
      max-width: 62.4rem;
      right: 0rem;
      bottom: 14rem;
      z-index: 1;
   }
}

.good {
   &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 5;
   }

   &:not(:last-child) {
      margin-bottom: 6rem;
   }

   padding: 6rem 8rem 6rem 30.6rem;
   display: flex;
   position: relative;
   max-width: 110rem;
   background: #FFFFFF;
   box-shadow: 0px 30px 80px rgba(146, 171, 234, 0.15);
   border-radius: 24px;

   &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -47rem;

      img {
         width: 100%;
         max-width: 47.5rem;
      }

      &-bg {
         display: none;
      }
   }

   &__content {
      position: relative;
   }

   &__header {
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      font-size: 3rem;
      font-weight: 400;

      // i{
      //    margin-left: 1.5rem;
      // }
      .span-wrapper {
         display: flex;
         align-items: center;
      }
   }

   &__name {
      margin-left: 4rem;
      margin-right: 4.5rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      font-size: 2.6rem;
      font-weight: 600;
      color: #fff;

      &::after {
         display: inline-block;
         content: '';
         position: absolute;
         top: -.3rem;
         left: -3.4rem;
         bottom: -.3rem;
         right: -3.4rem;
         z-index: -1;
         // width: 100%;
         // height: 1em;
         border-radius: 8px;
         background: linear-gradient(180deg, #7DC8FF 0%, #46A7ED 100%, #46A7ED 100%);
         box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.12), inset 0px 2px 12px rgba(255, 255, 255, 0.18);
         transform: skewX(-20deg);
      }
   }

   &__adv {
      margin-bottom: 3rem;

      ul {
         padding-left: 2.3rem;
         line-height: 1.6;
      }

      ul>li {
         margin-right: 1rem;
         margin-bottom: 1rem;
         position: relative;
         line-height: 1.4;

         &::before,
         &::after {
            display: block;
            content: '';
            position: absolute;
            left: -1.5em;
            top: .65em;
            width: 12px;
            height: 2px;
            border-radius: 3px;
            background: linear-gradient(180deg, #37AAFD 0%, #1C84E3 166.67%);
            box-shadow: 0px 5px 10px rgba(126, 176, 240, 0.6);
         }

         &::after {
            transform: rotate(90deg);
         }
      }
   }

   &__prices {
      display: flex;

      .price {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         min-height: 6rem;
         font-size: 1.6rem;
         line-height: 1rem;

         &_part {
            margin-right: 6.5rem;

            .dig {
               margin-left: 0.8rem;
               margin-right: 0.6rem;
               font-size: 3rem;
               font-weight: 700;
               color: #1C84E3;
            }

            .rub {
               margin-right: 0.8rem;
               font-size: 2.4rem;
               color: #1C84E3;
            }
         }

         &_total {
            .dig {
               margin-right: 0.6rem;
               font-size: 2.4rem;
            }

            .rub {
               font-size: 2rem;
            }
         }

         &-name {
            display: inline-block;
            // margin-bottom: 2rem;
            font-size: 1.4rem;
            color: #6B738D;
         }
      }
   }

   &__btns {
      margin-top: 4.5rem;
      display: flex;
      align-items: center;
   }

   &-btn {
      height: 6rem;

      &_primary {
         margin-right: 3rem;
         width: 25.8rem;
         font-size: 1.6rem;
      }

      &_outline {
         width: 28.2rem;
      }
   }
}


/* Help 
-------------------------*/
.help {
   margin-top: 10rem;
}


/* Important 
-------------------------*/
.important {
   margin-top: 10rem;
   padding-bottom: 7rem;

   &__container {
      position: relative;
   }

   &-heading {
      position: relative;

      &__img {
         left: 50%;
         transform: translateX(-50%);
         top: -9rem;

         img {
            max-width: 10.4rem;
         }
      }
   }

   &__content {

      // position: relative;
      .center {
         &-img {
            position: absolute;

            // z-index: 10;
            transform: translate(-50%, -50%);

            &__street {
               top: calc(45% + 8.5rem);
               left: calc(50% + 2rem);
            }

            img {
               max-width: 52.7rem;
            }

            &__round {
               top: 45%;
               left: 50%;
               border-radius: 50%;

               &_lg {
                  width: 53rem;
                  height: 53rem;
                  border: 1px solid rgba(154, 162, 186, 0.15);
               }

               &_md {
                  width: 43rem;
                  height: 43rem;
                  border: 1px solid rgba(154, 162, 186, 0.3);
               }

               &_sm {
                  width: 33rem;
                  height: 33rem;
                  border: 1px solid rgba(154, 162, 186, 0.45);
               }
            }
         }
      }
   }

   &__row {
      display: flex;



      display: none;

      &_space-between {
         margin-top: 3rem;
         justify-content: space-between;
      }

      &_center {
         margin-top: -7rem;
         justify-content: center;
      }
   }

   &__item {
      margin-bottom: 4rem;
      max-width: 36rem;
      text-align: center;
      font-size: 1.5rem;
      color: #52596F;

      &_last {
         max-width: 40rem;
         margin-bottom: 0;
      }

      img {
         width: 115.5rem;
         height: 12.6rem;
         object-fit: contain;
      }

      .item {
         &__title {
            margin-top: 3rem;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: #2A2B31;
         }
      }
   }

   &__item {
      &-wrapper {
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }

   &-slide {
      display: flex;
      width: auto;
      flex-basis: 50%;

      &_left {
         justify-content: flex-start;
      }

      &_right {
         justify-content: flex-end;
      }

      &_center {
         flex-basis: 100%;
         justify-content: center;

         .important__item {
            margin-top: -11rem;
         }
      }
   }

   .swiper-button {

      &-prev,
      &-next {
         display: none;
      }
   }
}

/* Prize
-------------------------*/
.prize {
   padding-top: 4rem;

   &__sims {
      max-width: 41.8rem;
      right: -16rem;
      top: -9rem;
      z-index: 6;
   }
}

/* Buy
-------------------------*/
.buy {
   &__container {
      position: relative;
   }

   &__heading {
      margin-top: 1rem;
      margin-bottom: 8rem;
   }

   &__content {
      position: relative;
      z-index: 5;
      overflow: hidden;
   }

   &__grid {
      display: grid;
      grid-template-columns: 47% 49%;
      column-gap: 6rem;
      // grid-gap: 1rem;
      grid-template-areas: "buy-text-1 buy-img"
         "buy-text-2 buy-img";
   }

   &-text {
      &-1 {
         grid-area: buy-text-1;
      }

      &-2 {
         grid-area: buy-text-2;
      }

      &:not(:last-child) {
         margin-bottom: 2rem;
      }

      &__heading {
         margin-bottom: 1.8rem;

         h4 {
            font-size: 2.2rem;
            font-weight: 600;
         }
      }

      &__body {
         font-size: 1.8rem;

         p {
            margin-bottom: 1.8rem;
         }
      }
   }

   &-img {
      padding-bottom: 3rem;
      grid-area: buy-img;

      .img-grid {
         width: 100%;
         height: 100%;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         column-gap: 2.4rem;

         &__item {
            overflow: hidden;
         }

         img {
            width: 95%;
            height: 100%;
            object-fit: contain;
            object-position: 50% 50%;
         }
      }
   }

   &__box {
      left: -32rem;
      bottom: -23rem;
      z-index: 2;
   }
}

/* Reviews 
-------------------------*/
.reviews {
   padding-top: 8rem;

   &__heading {
      margin-bottom: 6rem;
   }

   &__slider {
      padding-bottom: 8rem;
      overflow: hidden;

      &-wrapper {
         // position: relative;

      }
   }

   &-slide {
      width: v.$reviews-slide-width;
      transition: opacity .8s;
      opacity: 0.25;

      &:active {
         cursor: grab;
      }

      &__img {
         border-radius: 6rem;
         box-shadow: 0px 60px 40px -20px rgba(126, 176, 240, 0.16);

         img {
            display: block;
         }
      }

      &.swiper-slide-active {
         opacity: 1;
         // z-index: 15;
      }
   }

   .swiper-button {

      &-next,
      &-prev {
         top: 57%;
      }

      &-prev {
         left: calc(62% - 37.5rem - 10rem);
      }

      &-next {
         right: calc(62% - 37.5rem - 10rem);
      }
   }
}


/* Overviews
-------------------------*/
.overviews {
   padding-top: 3.5rem;
   padding-bottom: 20rem;

   &__container {
      position: relative;
   }

   &__video-container {
      margin-top: 8rem;
   }

   &__yt {
      top: -13rem;
      left: -27rem;
      max-width: 42.6rem;
   }

   &__cam {
      top: 13rem;
      right: -33rem;
      max-width: 46.3rem;
   }

   &__otv {
      top: 39rem;
      right: -35rem;
      max-width: 48.4rem;
   }

   &__img1 {
      top: 42rem;
      left: -32rem;
      max-width: 45.4rem;
   }
}

.main-video {
   &-wrapper {
      position: relative;
      margin: 0 auto;
   }

   &__img {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      max-width: v.$main-video-width;
      position: relative;
      z-index: 1;

      &::after {
         display: block;
         content: '';
         position: absolute;
         z-index: -1;
         top: 1rem;
         right: 1rem;
         bottom: v.$main-video-m-b;
         left: 1rem;
         border-radius: 15rem;


         box-shadow: 0px 30px 80px rgba(146, 171, 234, 0.15);
      }

      img {
         margin-bottom: v.$main-video-m-b;
         display: block;
         position: relative;
         // position: absolute;
         // top: 50%;
         // left: 50%;
         // transform: translate(-50%, -50%);
         max-width: v.$main-video-width;
         height: v.$main-video-height;

      }

      .video__btn {
         top: calc(50% - 6rem);
      }
   }
}

.video {
   &__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
   }

   &-grid {
      margin: 0 auto;
      max-width: 120rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 2.4rem;
      column-gap: 2.4rem;
      justify-content: center;
   }

   &__img {
      position: relative;
      // max-width: 38.5rem;
      border: 1rem solid #fff;
      border-radius: 2rem;
      box-shadow: 0px 30px 80px rgba(146, 171, 234, 0.15);
      overflow: hidden;

      &::after {
         display: block;
         width: 100%;
         height: 100%;
         background: linear-gradient(180deg, rgba(82, 89, 111, 0) 0%, rgba(82, 89, 111, 0.6) 100%);
         opacity: 1;
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 5;
      }

      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: 50% 50%;
      }

      &:hover {
         &::after {
            opacity: 0;
         }
      }
   }
}

/* Social 
-------------------------*/
.social {
   position: relative;
   z-index: 5;
   padding-top: 8rem;
   padding-bottom: 8rem;
   height: 24.4rem;

   &__container {
      // display: flex;
      // align-items: center;
   }

   &__content {
      display: flex;
      align-items: center;
   }

   &__heading {
      font-size: 3rem;
      font-weight: 700;
   }

   &__subheading {
      font-weight: 400;
   }

   &__links {
      display: flex;
      align-items: center;

      a {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 6rem;
         height: 6rem;
         border-radius: 50%;
         box-shadow: 0px 2px 0px #CD0000, 0px 3px 16px rgba(243, 28, 28, 0.6);

         &:hover {
            transform: scale(1.05);

            i {
               transform: scale(.95);
            }
         }

         &:active {
            transform: scale(1);

            i {
               transform: scale(1);
            }
         }
      }

      .yt {
         margin-left: 4rem;
         margin-right: 3rem;
         background: linear-gradient(180deg, #FF4E4E 0%, #F11313 100%);
      }

      .inst {
         position: relative;
         z-index: 1;
         background: linear-gradient(0deg, rgba(82, 89, 111, 0.3), rgba(82, 89, 111, 0.3)), linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);

         &::after {
            position: absolute;
            top: .25rem;
            z-index: -1;
            display: inline-block;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
         }
      }
   }

   &__phones {
      &-wrapper {
         position: relative;
         margin-left: 55rem;
      }

      top: 50%;
      transform: translateY(-50%);

      img {
         max-width: 59rem;
      }
   }
}

/* Questions 
-------------------------*/
.questions {
   padding-top: 14rem;
   position: relative;
   z-index: 2;
   overflow: visible;

   &__img1 {
      max-width: 63rem;
      left: -35rem;
      top: -18rem;
      z-index: 3;

      img {
         max-width: 63rem;
      }
   }

   &__img2 {
      max-width: 19.7rem;
      right: 0;
      top: -4rem;
      z-index: 8;
   }
}


/* Partnership 
-------------------------*/
.partn {
   padding-bottom: 0rem;

   &__content {
      margin-top: 5rem;
      display: flex;

      &_left {
         max-width: 56rem;
      }

      &_right {
         flex: 1;

         .svg-partn-line-round {
            margin-top: 1.5rem;
            margin-left: 5.5rem;
         }
      }
   }

   &__heading {
      margin-top: 1rem;
   }

   &__card {
      position: relative;
      top: -2.5rem;
      padding: 3.5rem;
      border-radius: v.$modal-border-radius;
      background: #fff;
      box-shadow: 0px -20px 80px rgba(146, 171, 234, 0.15), 0px 30px 80px rgba(146, 171, 234, 0.15);

      &_first {
         position: static;
         box-shadow: 0px 30px 80px rgba(146, 171, 234, 0.15);
      }

      &_lg {
         top: -5rem;
         font-size: 2rem;
      }

      p {
         margin-bottom: 1.5rem;
      }
   }

   &-card {
      &__heading {
         margin-bottom: 1.8rem;
         font-size: 2.2rem;
         font-weight: 600;
      }

      &__btn {
         margin-top: 1.5rem;
         width: 32rem;
         height: 7rem;
      }
   }

   &__video {
      margin-top: 10rem;
      margin-left: 2rem;
   }

   &-video {
      &__offer {
         display: inline-flex;
         padding: 2rem;
         border-radius: 1.2rem;
         color: #6B738D;
         background: rgba(168, 208, 255, 0.2);
      }

      &__btn {
         &-wrapper {
            position: relative;
            margin-left: 9rem;
            max-width: 110px;
            height: 74px;
            // border: solid 1px #f0f;

            border-radius: 2rem;
            box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.12);
            overflow: hidden;

            img {
               display: block;
               width: 100%;
               max-width: none;
               // height: 174px;
               position: absolute;
               // top: -12px;
               // left: -52px;
               z-index: 1;
            }

            &:hover {
               transform: scale(1.05);
            }
         }

         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 5;
      }
   }

   &__box {
      display: none;
   }
}

/* Footer 
-------------------------*/
.footer {
   padding: 13rem 0 6rem 0;
   color: v.$footer-color;
   background: #fff;
   border-top: solid 1px rgba(154, 162, 186, 0.3);
   overflow: hidden;

   &__container {}

   &__logo {
      width: 10.1rem;
   }

   &__grid {
      margin-bottom: 5rem;
      display: grid;
      // grid-template-columns: 10.1rem minmax(40rem, 117rem) 35rem;
      grid-template-columns: auto auto auto auto 37rem;
      column-gap: 6rem;
   }

   &-menu {
      display: flex;
      justify-content: space-between;

      &__item {
         max-width: 20rem;

         &>span {
            font-weight: 700;
         }

         a {
            &:hover {
               color: v.$text-primary-blue;
            }
         }
      }
   }

   &-submenu {
      &__item {
         margin-top: 1rem;

         a {
            transition: none;
         }

         &:hover {
            color: v.$text-primary-blue;
         }
      }
   }

   &-contacts {
      padding-left: 3rem;

      // max-width: 43rem;
      &__item {
         margin-top: 1rem;
         display: block;
      }

      &__heading {
         font-weight: 700;
      }

      &__mail,
      &__location {
         position: relative;

         i,
         svg {
            position: absolute;
            display: inline-block;
            top: .15em;
            left: -3rem;
         }
      }

      &__phone {
         position: relative;
         line-height: 2.4rem;

         svg {
            position: absolute;
            display: inline-block;
            top: auto;
            bottom: 0.2em;
            left: -3rem;
         }
      }

      &__phone {
         font-size: 2rem;
         font-weight: 700;
      }

      a {
         // svg path{
         //    transition: fill .3s;
         // }
         transition: none;

         &:hover {
            color: v.$text-primary-blue;

            svg path {
               fill: v.$text-primary-blue;
            }
         }
      }
   }

   .copy {
      text-align: center;
   }
}

/* Modals
-------------------------*/
// Попробовать убрать скрытое отображение модального окна !!!
.modal {
   padding: 1.5rem;
   display: flex;
   align-items: center;
   width: 100vw;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 999;
   overflow: hidden;
   opacity: 0;
   visibility: hidden;

   &__content {
      margin: auto;
      padding: 6rem 4.5rem;
      display: flex;
      flex-direction: column;
      width: 42rem;
      // max-height: 63.1rem;
      position: relative;
      z-index: 1001;
      border-radius: v.$modal-border-radius;
      background-color: v.$modal-content-bg;
      font-size: 1.6rem;
      line-height: 1.4;
      text-align: center;
      opacity: 0;
      overflow: hidden;
   }

   &__header {
      margin-bottom: 4rem;
      position: relative;

      h3 {
         margin-bottom: 2rem;
      }

      p {
         margin: 0 auto;
         max-width: 30rem;
      }
   }

   &__body {
      flex-grow: 1;
      text-align: justify;
      overflow: visible;
   }

   // &__footer{
   //    margin-top: 3rem;
   //    font-size: 1.4rem;
   //    p{
   //       margin: 0 auto;
   //       max-width: 30rem;
   //    }
   // }
   &__close {
      padding: 0;
      width: 1.4rem;
      height: 1.4rem;
      position: absolute;
      top: -4.5rem;
      right: -2rem;
      border: none;
      background: none;
   }

   &-close {
      &__item {
         display: block;
         width: 1.98rem;
         height: 3px;
         position: absolute;
         left: 0;
         top: 50%;
         border-radius: 2px;
         background-color: v.$modal-close-item-bg;
         box-shadow: 0px 5px 10px rgba(126, 176, 240, 0.6);
         transition: background-color .3s;

         &:first-child {
            transform: rotate(45deg);
         }

         &:last-child {
            transform: rotate(-45deg);
         }
      }

      &:hover {
         .modal {
            &-close {
               &__item {
                  background-color: v.$modal-close-item-bg-hover;
               }
            }
         }
      }
   }

   &__overlay {
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: v.$modal-overlay-bg;
      opacity: 0;
      visibility: hidden;
   }

   &.opened {
      animation: fadeIn .5s ease-out forwards;

      .modal {
         &__content {
            animation: slideUpIn .3s ease-out forwards;
         }

         &__overlay {
            animation: fadeIn 0.5s ease forwards;
         }
      }
   }

   &.closed {
      animation: fadeOut .5s ease-in forwards;

      .modal {
         &__content {
            animation: slideUpOut .3s ease-in forwards;
         }

         &__overlay {
            animation: fadeOut .5s ease-in forwards;
         }
      }
   }
}

.thanks {
   h3 {
      font-weight: 500;

      span {
         font-weight: 700;
         font-size: 2.6rem;
      }
   }

   padding: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 42rem;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-radius: v.$modal-border-radius;
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
   background: v.$modal-content-bg;
   opacity: 0;
   z-index: -1;
   visibility: hidden;
   transition: opacity .5s;

   span {
      display: block;
      margin-bottom: 2rem;
   }

   &.active {
      z-index: 99999;
      visibility: visible;
      opacity: 1;
      animation: fadeIn 1.5s ease forwards, fadeOut 1.5s ease forwards 5s;
   }
}

.loader-container {
   position: relative;
   z-index: 50;
   // overflow: hidden;
}

.submit-loader {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 55;
   background: rgba(0, 0, 0, .3) url('../img/loader.gif') center no-repeat;
   background-size: contain;
   border-radius: 10px;
}

/* 
ANIMATIONS
------------------------------ */
@-webkit-keyframes fadeIn {
   from {
      visibility: hidden;
      opacity: 0;
   }

   to {
      visibility: visible;
      opacity: 1;
   }
}

@keyframes fadeIn {
   from {
      visibility: hidden;
      opacity: 0;
   }

   to {
      visibility: visible;
      opacity: 1;
   }
}

@-webkit-keyframes fadeOut {
   from {
      visibility: visible;
      opacity: 1;
   }

   to {
      visibility: hidden;
      opacity: 0;
   }
}

@keyframes fadeOut {
   from {
      visibility: visible;
      opacity: 1;
   }

   to {
      visibility: hidden;
      opacity: 0;
   }
}

@-webkit-keyframes slideUpIn {
   from {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(10%);
      transform: translateY(10%);
   }

   to {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
   }
}

@keyframes slideUpIn {
   from {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(10%);
      transform: translateY(10%);
   }

   to {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
   }
}

@-webkit-keyframes slideUpOut {
   from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
   }

   to {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-10%);
      transform: translateY(-10%);
   }
}

@keyframes slideUpOut {
   from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
   }

   to {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-10%);
      transform: translateY(-10%);
   }
}


@import "media-queries.scss";
@import "gte-ie10-style.scss";