@use '_partials/_variables'as v;
@use '_partials/_mixins'as m;

/* VII. Media-queries
--------------------------------------- */

@media (max-width: 1699.98px) {
	.about {
		&__box {
			max-width: 50rem;
		}
	}

	.goods {
		&__box {
			max-width: 50rem;
		}
	}

	.overviews {
		&__otv {
			right: -21rem;
		}
	}
}

// XL
@media (max-width: 1399.98px) {
	html {
		font-size: 9px;
	}

	.container {
		max-width: 114rem;
	}

	.d {
		&-block {
			&_xl {
				display: block;
			}
		}

		&-none {
			&_xl {
				display: none;
			}
		}
	}

	.intro {
		&__content {
			max-width: 81rem;
		}

		&__subheading {
			display: block;
		}

		&__man {
			right: -3rem;
		}

	}

	.form {
		&-section {
			&__form {
				justify-content: space-around;
			}
		}

		&__group {
			max-width: 305px;
		}

		&__submit {
			// width: 280px;
		}
	}

	.good {
		&__img {
			left: -43rem;

			img {
				max-width: 43rem;
			}
		}
	}

	.prize {
		&__sims {
			bottom: 25rem;
		}
	}

	.buy {
		&__box {
			left: -16rem;
			bottom: -38rem;
		}
	}

	.overviews {
		&__yt {
			left: -15rem;
			max-width: 33.6rem;
		}

		&__cam {
			right: -19rem;
			max-width: 40rem;
		}

		&__otv {
			top: 44rem;
			right: -16rem;
			max-width: 38rem;
		}
	}

	.social {
		&__phones {
			img {
				max-width: 45rem;
			}
		}
	}

	.questions {
		&__img2 {
			right: 1.5rem;
		}
	}

	.partn {
		&__bg {
			img {
				object-position: -15rem center;
			}
		}
	}
}




// LG
@media (max-width: 1199.98px) {
	html {
		// font-size: 8px;
	}

	h1 {
		font-size: 3.2rem;
	}

	.container {

		&,
		&_xl {
			max-width: 96rem;
		}
	}

	.d {
		&-block {
			&_lg {
				display: block;
			}
		}

		&-none {
			&_lg {
				display: none;
			}
		}
	}

	.header {
		&__logo {
			margin-right: 0;
		}

		&__work {
			display: none;
		}
	}

	.top-menu {
		&-wrapper {
			max-width: 42rem;
		}
	}

	.intro {
		&__content {
			max-width: 65rem;
		}

		&-power {
			&__img {
				&_arrow {
					display: none;
				}
			}
		}
	}

	.about {
		&-grid {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&__box {
			max-width: 40rem;
			bottom: -31rem;
		}
	}

	.good {
		padding: 3rem 3rem 3rem 30.6rem;

		&__header {
			font-size: 2rem;
			font-weight: 600;
		}

		&__name {
			font-size: 2rem;
		}

		&__img {
			left: -40rem;

			img {
				max-width: 40rem;
			}
		}
	}

	.important {
		&__content {
			.center-img {
				&__street {
					top: calc(50% + 8.5rem);
				}

				&__round {
					top: 51%;
				}

				img {
					max-width: 45rem;
				}
			}
		}
	}

	.prize {
		&__sims {
			max-width: 35rem;
			right: -13rem;
		}
	}

	.buy {
		&__grid {
			display: block;
		}

		&-img {
			margin-top: 6rem;
			margin-bottom: 6rem;
			padding-bottom: 0;

			.img-grid {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: auto;
			}
		}
	}

	.overviews {
		&__yt {
			left: -10rem;
			max-width: 30rem;
		}

		&__cam {
			right: -15rem;
			max-width: 35rem;
		}

		&__otv {
			top: 37rem;
			right: -10rem;
			max-width: 30rem;
		}
	}

	.main-video {
		&__img {
			img {
				max-width: 65rem;
				height: auto;
			}
		}
	}

	.questions {
		&__img2 {
			top: -5rem;
		}
	}

	.footer {
		&__grid {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			// row-gap: 4rem;
			grid-template-areas: "f-logo		contacts	contacts"
				"f-menu-1	f-menu-2	f-menu-3";
		}

		&__logo {
			grid-area: f-logo;
		}

		&-menu {
			&-1 {
				grid-area: f-menu-1;
			}

			&-2 {
				grid-area: f-menu-2;
			}

			&-3 {
				grid-area: f-menu-3;
			}
		}

		&-contacts {
			grid-area: contacts;
			padding-left: 0;

			&__body {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-areas: "c-phone	c-loc"
					"c-mail		c-loc"
					"c-inn		c-loc"
					"c-ogrn		c-loc";
			}

			&__phone {
				grid-area: c-phone;
			}

			&__mail {
				grid-area: c-mail;
			}

			&__location {
				max-width: 25rem;
				line-height: 3.5rem;
				grid-area: c-loc;
			}

			&__ogrn {
				grid-area: c-ogrn;
			}

			&__inn {
				grid-area: c-inn;
			}
		}

		&-menu {
			&__item {
				max-width: none;
			}
		}
	}
}

// MD
@media (max-width: 991.98px) {
	html {
		font-size: 8px;
	}

	h1 {
		line-height: 1.4;
	}

	h2 {
		font-size: 3.25rem;
	}

	h3 {
		font-size: 3rem;
	}

	.btn {
		&_primary {
			padding-left: 2em;
			padding-right: 2em;
		}

		&_secondary {
			padding: 0 1.9em;
			font-size: 15px;
		}
	}

	.container {

		&,
		&_xl,
		&_lg {
			max-width: 740px;
		}
	}

	// ПЕРЕДЕЛАТЬ НАХРЕН
	.d {
		&-desktop {
			display: none;
		}

		&-mobile {
			display: block;
		}
	}

	// ДО СИХ ПОР

	.d {
		&-block {
			&_md {
				display: block;
			}
		}

		&-inline {
			&_md {
				display: inline;
			}
		}

		&-none {
			&_md {
				display: none;
			}
		}

		// &-none{
		// 	&_md{
		// 		display: none;
		// 	}
		// }
	}

	.header {
		&__container {
			position: relative;
			// padding-right: 0;
			justify-content: flex-end;
			// max-width: none;

			// padding-top: 0;
			// padding-bottom: 0;
		}

		&__work {
			display: block;
			margin-left: 1.5rem;
			max-width: 12rem;
			font-size: 16px;
		}

		&-nav {
			position: absolute;
			z-index: 990;
			// padding: 5rem 0 5rem 3rem;
			width: 100%;
			background: #fff;
			overflow: hidden;
			// height: 0;
			border-top: solid 1px #E8EAF4;

			border-radius: 0px 0px 0px 1.6rem;
			box-shadow: 0px 25px 40px rgba(146, 171, 234, 0.3);
			opacity: 0;
			visibility: hidden;
			transform: translateX(50px);
			transition: all .3s;

			&.open {
				transform: translateX(0px);
				// height: auto;
				opacity: 1;
				visibility: visible;
			}
		}

		&-contacts {
			margin-left: 0;
			padding-left: 3rem;
			// padding-top: 2.5rem;
			// padding-bottom: 2.5rem;
			// box-shadow: 0px 25px 40px rgba(146, 171, 234, 0.3);
		}

		&-phone {
			a {
				font-size: 20px;
			}
		}

		&-mail {
			a {
				font-size: 18px;
			}
		}
	}

	.logo {
		&-wrapper {
			margin-right: auto;
		}
	}

	.top-menu {
		margin: 6rem 0 5rem 3rem;
		display: block;
		max-width: 34rem;

		&-wrapper {
			margin: 0;
			display: block;
			position: absolute;
			bottom: 0;
			left: 58rem;
			width: 100%;
			max-width: 52rem;
			min-width: auto;
			height: 0;
		}

		&__item {
			font-size: 18px;

			&:not(.top-menu__item_last) {
				margin-bottom: 5.3rem;
			}
		}

		&-toggler {
			margin-left: 2.5rem;
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			border: solid 1px v.$top-menu-toggler-border;
			font-size: 10px;
			border-radius: .6em;

			&__item {
				position: absolute;
				left: .9em;
				width: 2em;
				height: 0.2em;
				border-radius: 1px;
				background: v.$top-menu-toggler-border;
				transition: transform .3s;

				&:first-child {
					top: calc(50% - .1em);
				}

				&:nth-child(2) {
					top: calc(50% - .7em);
				}

				&:last-child {
					top: calc(50% + .5em);
				}

			}

			&.open {
				.top-menu-toggler__item {
					&:first-child {
						opacity: 0;
					}

					// &:nth-child(2),
					// &:last-child{
					// 	transform-origin: 0;
					// }
					&:nth-child(2) {
						transform: translateY(.6em) rotate(45deg);
					}

					&:last-child {
						transform: translateY(-.6em) rotate(-45deg);
					}
				}
			}
		}

		&-overl {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 980;
			background: rgba(0, 38, 255, 0);
			opacity: 0;
			visibility: hidden;
			transition: all .3s;

			&.open {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.intro {
		&__container {
			padding-top: 8.1rem;
			padding-bottom: 11rem;
		}

		&__content {
			max-width: 440px;
			// z-index: 5;
		}

		// &__subheading{
		// 	display: block;
		// }
		&-power {
			position: relative;
			margin-top: 5rem;
			max-width: 52rem;

			&__inner {
				padding-left: 2rem;
			}

			&__img {
				&_street {
					display: none;
				}
			}
		}

		&-offer {
			margin-top: 6rem;
		}

		&__man {
			right: -6rem;
			bottom: 4rem;
		}

		// &__clouds{

		// 	top: auto;
		// 	height: 0;
		// 	&>img{
		// 		position: absolute;
		// 		bottom: 0;
		// 		max-width: 100%;
		// 		height: auto;
		// 	}
		// }
	}

	.form-section {
		&__inner {
			padding-left: 5rem;
			padding-right: 5rem;
		}

		&__heading,
		&__text {
			margin-left: auto;
			margin-right: auto;
			max-width: 65rem;
		}

		&__heading {
			h3 {
				font-size: 3rem;
			}
		}

		&__subheading {
			font-size: 3rem;
		}

		&__text {
			font-size: 2.25rem;
		}

		&__submit {
			max-width: 305px;
			width: 100%;
		}
	}

	.quote {
		padding: 4rem 10rem;

		&__text {
			.text_bold {
				max-width: 50rem;
				display: inline-block;
			}
		}
	}

	.want-check {
		padding-top: 3rem;

		&__phone {
			max-width: 19.2rem;
			right: -1rem;
			bottom: -12rem;
			z-index: 5;
		}

		&__modem {
			max-width: 21.5rem;
			left: 1rem;
			top: -7rem;
			z-index: 8;
		}
	}

	.stars {
		&__subheading {
			font-size: 2.25rem;
		}

		&__slider {
			position: relative;
			margin: 0 auto;
			max-width: 720px;
		}

		&-slider {
			&__bg {
				img {
					object-position: 86% bottom;
				}
			}
		}

		&-slide {
			// width: 90rem;
			height: 45.5rem;
			opacity: 1;
			transition: none;
		}

		&-card {
			margin-left: 4rem;
			width: 51.25rem;
			height: 31rem;

			&__heading {
				h4 {
					font-size: 2.5rem;
				}

				&__text {
					font-size: 2rem;
				}
			}
		}

		.swiper-button {
			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}
		}
	}

	.about {
		&-grid {
			&-wrapper {
				padding: 0;
			}
		}

		&__box {
			display: none;
		}

		&__bg {
			img {
				width: 90rem;
				height: auto;
				object-fit: fill;
				object-position: 50% -15rem;
			}
		}
	}

	.goods {
		&__heading {
			margin-bottom: 12.5rem;
		}
	}

	.good {
		padding: 0 5rem;

		&:not(:last-child) {
			margin-bottom: 15rem;
		}

		&__content {
			top: -7.5rem;
		}

		&__header {
			margin-top: 5rem;
		}

		&__img {
			&-wrapper {
				position: relative;
			}

			&-bg {
				display: block;
				position: relative;
				// top: 50%;
				// transform: translateY(-50%);
				// left: 0;
				// right: 0;
				// width: 100%;
				// height: 15rem;
				// text-align: center;
				// &_street-2{

				// }
				// &_street-2-pro{

				// }
				// &_street-ultra-pro{

				// }
				img {
					margin: 0 auto;
					display: block;
					width: 100%;
					max-width: 80rem;
				}
			}

			// position: relative;
			transform: translate(-50%, -50%);
			top: 50%;
			right: auto;
			bottom: auto;
			left: 50%;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-width: 30rem;
			}
		}

		&__name {
			font-size: 2.5rem;
		}

		&__adv {
			font-size: 2rem;
		}

		&__prices {
			.price {
				font-size: 2rem;

				&-name {
					font-size: 1.75rem;
				}

				&_part {
					.dig {
						font-size: 3.25rem;
					}

					.rub {
						font-size: 3rem;
					}
				}

				&_total {
					.dig {
						font-size: 2.5rem;
					}
				}
			}
		}

		&-btn {

			&_primary,
			&_outline {
				width: 100%;
				max-width: 35.25rem;
				height: 7.5rem;
				font-size: 2rem;
			}

			&_primary {
				margin-right: 3.25rem;
			}
		}
	}

	.help {
		margin-bottom: 7.5em;
		z-index: 10;

		&__text {
			max-width: 60rem;
		}
	}

	.important {
		padding-bottom: 5rem;
		z-index: 2;

		&__container {
			z-index: 10;
		}

		&-heading {
			h2 {
				margin-left: auto;
				margin-right: auto;
				max-width: 26rem;
			}
		}

		&__row {
			&:nth-child(2) {
				margin-top: 8rem;
			}

			&_center {
				margin-top: -9rem;
			}
		}

		&__bg {
			z-index: 5;

			img {
				// object-fit: contain;
				object-position: left bottom;
			}
		}

		&__tree {
			z-index: 6;

			&_l {
				top: -41rem;
				left: 0;
			}

			&_r {
				top: 0;
				right: 0;
			}
		}

		&__item {
			font-size: 1.75rem;

			.item {
				&__title {
					margin-top: 2rem;
					font-size: 2rem;
				}
			}

			&_last {
				max-width: 45rem;
			}
		}
	}

	.prize {
		padding-top: 12rem;

		&__heading {
			max-width: 82rem;
		}

		&__text {
			max-width: 62rem;
		}

		&__sims {
			max-width: 28.5rem;
			right: 0rem;
			top: 28rem;
		}
	}

	.buy {
		padding-top: 15rem;
		padding-bottom: 2rem;

		&__heading {
			margin-bottom: 5rem;
		}

		&__grid {
			display: block;
		}

		&-text {
			&__heading {
				h4 {
					font-size: 2.75rem;
				}
			}

			&__body {
				font-size: 2.25rem;
			}
		}

		&__box {
			right: -6rem;
			bottom: -40rem;
			left: unset;
		}

		&-img {
			.img-grid {
				row-gap: 4rem;
			}
		}
	}

	.reviews {
		&__heading {
			margin-bottom: 5rem;
		}

		&-slide {
			width: 37.75rem;
		}

		.swiper-button-prev,
		.swiper-button-next {
			top: 59rem;
		}

		.swiper-button-prev {
			left: calc(68% - 37.5rem - 10rem);
		}

		.swiper-button-next {
			right: calc(68% - 37.5rem - 10rem);
		}
	}

	.overviews {
		padding-top: 1.5rem;
		padding-bottom: 12.5rem;

		&__otv {
			display: none;
		}

		&__yt {
			top: -24rem;
			left: -2rem;
		}

		&__cam {
			display: none;
		}

		&__video {
			&-container {
				margin-top: 5rem;
			}
		}
	}

	.main-video {
		&__img {
			img {
				margin-bottom: 5rem;
				max-width: 100%;
			}
		}
	}

	.video {
		&-grid {
			column-gap: 3.375rem;
		}

		&__img {
			border-width: .75rem;
		}
	}

	.social {
		padding: 7.5rem 0;
		height: auto;

		&__content {
			flex-direction: column;
			align-items: flex-start;
		}

		&__heading {
			font-size: 3.25rem;
		}

		&__links {
			margin-top: 2.5rem;

			.yt {
				margin-left: 0;
			}
		}

		&__phones {
			top: -37rem;
			transform: none;

			&-wrapper {
				margin-left: 34rem;
			}

			img {
				max-width: 59rem;
			}
		}
	}

	.questions {
		&__img1 {
			left: 3rem;
			bottom: -30rem;
			top: auto;
		}

		&__img2 {
			top: -4rem;
		}

		&__text {
			max-width: 57rem;
		}
	}

	.partn {
		padding-top: 15.5rem;

		&__container {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}

		&__heading {
			// margin-bottom: 3.75;
		}

		&__content {
			margin-top: 0;
			padding-bottom: 57rem;
			position: relative;
			overflow: hidden;

			&_left,
			&_right {
				padding-left: 1.5rem;
				padding-right: 1.5rem;

			}

			&_left {
				// margin-left: auto;
				// margin-right: auto;
				// max-width: 740px;
				position: absolute;
				bottom: 5rem;
				max-width: none;
				// top: -(v.$content-right-offset-y);


			}

			&_right {
				position: relative;
			}

			flex-direction: column-reverse;
		}

		&-content {
			&__img {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% top;
				}
			}
		}

		&__video {
			margin-top: 12.5rem;
			margin-left: auto;
			margin-right: auto;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			max-width: 740rem;
		}

		&-video {
			&__offer {
				font-size: 2rem;
			}

			&__btn {
				height: 74px;

				&-wrapper {
					width: 13.75rem;
					height: 58rem;
				}
			}
		}

		&__box {
			display: block;
			top: -11rem;
			right: 0;
			z-index: 5;
		}

		&__bg {
			display: none;
		}

		&__card {
			padding-bottom: 5rem;
			top: -3.5rem;
			font-size: 2rem;
			margin-left: auto;
			margin-right: auto;
			max-width: 740px;

			&_lg {
				top: -7rem;
				font-size: 2.5rem;
			}
		}

		&-card {
			&__heading {
				font-size: 2.5rem;
			}
		}
	}

	.footer {
		padding-top: 6rem;
		font-size: 2rem;

		&__logo {
			max-width: 12.6rem;
			width: 100%;
		}

		&-contacts__phone {
			font-size: 2.5rem;
			bottom: 0;

			svg {
				bottom: 0.1em;
			}
		}
	}
}

// SM
@media (max-width: 767.98px) {
	html {
		font-size: 7px;
	}

	.btn {
		&_secondary {
			padding: 0 1em;
		}
	}

	.container {

		&,
		&_xl,
		&_lg,
		&_md {
			max-width: 540px;
		}
	}

	.d {
		&-block {
			&_sm {
				display: block;
			}
		}

		&-none {
			&_sm {
				display: none;
			}
		}
	}

	.form {

		// &__group{
		// 	&.focused{
		// 		.form__label_control{
		// 			transform: translateY(calc(-100% + 1.6rem)) scale(0.8);
		// 		}
		// 	}
		// }
		&__group {
			padding-top: 1rem;
			height: 10.8rem;

			&.form__group {

				&.focused,
				&.valid {
					.form__label_control {
						transform: translateY(calc(-100% + 2rem)) scale(0.8);
					}
				}
			}
		}

		&__control {
			width: 40rem;
			height: 9.8rem;
		}

		&__submit {
			width: 40rem;
			height: 10rem;
		}

		&__control {
			padding-left: 8rem;
			font-size: 2.5rem;
		}

		&__label {
			&_control {
				padding-top: 1.8rem;
				padding-left: 8rem;
			}
		}

		&,
		&__submit {
			padding-top: 0;
			padding-bottom: 0;
			font-size: 2.5rem;
		}

		&__footer {
			font-size: 2rem;

			p {
				max-width: none;
			}
		}
	}

	.header {
		&__container {
			// position: static;
		}

		&__work {
			display: none;
		}
	}

	.top-menu {
		margin: 6rem 0 6rem 3rem;
		max-width: 33rem;

		&-wrapper {
			left: 43rem;
		}

		&__item {
			font-size: 16px;
			margin-bottom: 5rem;
		}

		&-toggler {
			width: 31px;
			height: 30px;

			&__item {
				left: .7em;
				width: 1.5em;

				&:first-child {
					top: calc(50% - .1em);
				}

				&:nth-child(2) {
					top: calc(50% - .7em);
				}

				&:last-child {
					top: calc(50% + .5em);
				}

			}

			&.open {
				.top-menu-toggler__item {
					&:first-child {
						opacity: 0;
					}

					// &:nth-child(2),
					// &:last-child{
					// 	transform-origin: 0;
					// }
					&:nth-child(2) {
						transform: translateY(.6em) rotate(45deg);
					}

					&:last-child {
						transform: translateY(-.6em) rotate(-45deg);
					}
				}
			}
		}
	}

	.intro {
		&__content {
			max-width: 57rem;
		}

		&-power {
			max-width: 46rem;
		}

		&__man {
			right: -16rem;

			img {
				max-width: 46rem;
			}
		}
	}

	.form-section {
		&-wrapper {
			margin-left: auto;
			margin-right: auto;
			max-width: 44rem;
		}

		&__form {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		// &__group{
		// 	padding-top: 1rem;
		// 	height: 10.8rem;
		// 	&.form__group{
		// 		&.focused,
		// 		&.valid{
		// 			.form__label_control{
		// 				transform: translateY(calc(-100% + 2rem)) scale(0.8);
		// 			}
		// 		}
		// 	}
		// }
		&__submit {
			width: 100%;
			height: 10rem;
		}

		.form__control,
		[type="submit"] {
			width: 100%;
		}

		// .form__control{
		// 	height: 9.8rem;
		// }
	}

	.want-check {
		&__modem {
			display: none;
		}

		&__phone {
			max-width: 15rem;
		}
	}

	.stars {
		&__slider {
			max-width: 540px;
		}

		&-slide {
			&__img {
				img {
					height: 75%;
				}
			}
		}

		&-card {
			max-width: 45rem;
		}
	}

	.about {
		&-card {
			&__text {
				overflow: auto;
			}
		}
	}

	.goods {
		&__heading {
			margin-bottom: 22rem;
		}
	}

	.good {
		&__btns {
			align-items: stretch;
			flex-direction: column-reverse;
		}

		&-btn {
			&_outline {
				margin-bottom: 3.3rem;
			}
		}
	}

	.important {
		&__content {
			.center-img {
				&__street {
					top: calc(50% + 10.5rem);
					left: calc(50% + 1rem);
				}

				&__round {
					top: 62rem;
				}

				img {
					max-width: 30rem;
				}
			}
		}

		&__row {
			&:nth-child(2) {
				margin-top: 16rem;
			}

			&_center {
				margin-top: 0;
			}
		}

		&__item {
			max-width: 30rem;

			&_last {
				max-width: 50rem;
			}
		}
	}

	.prize {
		padding-top: 18.2rem;

		&__sims {
			top: -20rem;
			left: calc(50%);
			transform: translateX(-50%);
			bottom: auto;
		}
	}

	.buy {
		&__box {
			max-width: 35rem;
			right: -8rem;
			bottom: -35rem;
		}
	}

	.overviews {
		&__yt {
			max-width: 22rem;
		}
	}

	.questions {
		padding-top: 18.2rem;

		&__img1 {
			max-width: 34.5rem;
			top: -33rem;
			left: 5rem;
			bottom: auto;
		}

		&__img2 {
			display: none;
		}
	}

	.partn {
		&__box {
			display: none;
		}

		&-video {
			&__btn {
				height: 66px;

				&-wrapper {
					img {
						width: 13.75rem;
						// height: auto;
						// top: -6px;
						// left: -42px;
					}
				}
			}
		}
	}

	.footer {
		&__grid {
			row-gap: 4rem;
		}

		&-contacts {
			&__body {
				display: block;
			}

			&__location {
				line-height: 1.6;
			}

			&__phone svg {
				top: 0;
				left: -4rem;
			}

			&__mail i,
			&__mail svg,
			&__location i,
			&__location svg {
				left: -4rem;
			}


		}

	}

	.modal {
		&__content {
			padding: 6rem 4rem;
			width: 48rem;
			// max-height: 63.1rem;

			border-radius: v.$modal-border-radius-sm;
			font-size: 2.5rem;
		}

		&__header {
			p {
				max-width: none;
			}
		}

		&-close {
			top: -3rem;
			right: -.7rem;

			&__item {
				width: 2.5rem;
			}
		}
	}

	.thanks {
		font-size: 2.6rem;
	}
}

// XS
@media (max-width: 575.98px) {
	html {
		font-size: 6px;
	}

	h1 {
		font-size: 3.1rem;
	}

	h2 {
		font-size: 3.65rem;
	}

	.btn {

		&_primary,
		&_file {
			font-size: 2.83rem;
			height: 10rem;
		}

		&_file {
			width: 10rem;
		}
	}

	.container {

		&,
		&_xl,
		&_lg,
		&_md,
		&_sm {
			max-width: 440px;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}

	.d {
		&-block {
			&_xs {
				display: block;
			}
		}

		&-none {
			&_xs {
				display: none;
			}
		}
	}

	.section {
		padding: 13rem 0 3rem;
	}

	.header {
		&__container {
			padding: 2.5rem;
		}

		&__logo {
			max-width: 61px;
		}

		&__callback-btn,
		&-mail {
			display: none;
		}

		&-phone {
			a {
				font-size: 14px;
			}
		}
	}

	.intro {
		padding-top: 6rem;

		&__content {
			z-index: 3;
		}

		&-offer {
			margin-top: 15rem;
		}

		&__bg,
		&__clouds {
			height: 65rem;
			bottom: auto;
		}

		&__man {
			display: none;

			&_mobile {
				display: block;
				position: absolute;
				top: auto;
				bottom: 0;
				height: 60rem;

				img {
					max-width: 100%;
					object-position: 104% 0;
					// width: 100%;
					height: 100%;
				}
			}
		}

		&-btns {
			.btn {
				&_primary {
					font-size: 2.6rem;
				}
			}
		}
	}

	.form-section {
		&__text {
			font-size: 2.5rem;
		}
	}

	.form {

		&,
		&__control {
			font-size: 2.65rem;
		}

		&__submit {
			font-size: 2.8rem;
		}
	}

	.want-check {
		padding-top: 5rem;
		padding-bottom: 7rem;
	}

	.stars {
		&__subheading {
			margin-left: auto;
			margin-right: auto;
			max-width: 47rem;
			font-size: 2.5rem;
		}

		&__slider {
			max-width: 440px;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			overflow: visible;
		}

		&-slide {
			height: auto;

			&__img {
				position: static;
				max-width: 48rem;
				height: 38rem;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		// &-slider{
		// 	&__bg{
		// 		display: none;
		// 	}
		// }
		&-slide__img,
		&-card {
			margin-left: auto;
			margin-right: auto;
		}

		&-card {
			position: relative;
			padding: 1.65rem;
			top: -6rem;
			max-width: 48rem;
			height: auto;
			box-shadow: 0px 30px 40px -10px rgba(126, 176, 240, 0.2);

			&__heading {
				h4 {
					font-size: 2.8rem;
				}
			}

			&__text,
			&__btn {
				font-size: 2.5rem;
			}

			&__text {
				max-width: 40rem;
			}
		}

		.swiper-button {

			&-prev,
			&-next {
				width: 6.5rem;
				height: 6.5rem;
				top: 30%;

				&::after {
					font-size: 2rem;
				}
			}

			&-prev {
				left: 2.5rem;
			}

			&-next {
				right: 2.5rem;
			}
		}
	}

	.layer-block {
		box-shadow: none;

		&::after {
			display: none;
		}
	}

	.quote {
		padding: 2.5rem;

		&_before {
			bottom: 0;
		}

		&_after {
			top: 0;
		}

		&__text {
			margin-left: auto;
			margin-right: auto;
			max-width: 49rem;
		}
	}

	.about {
		&__container {
			max-width: none;
		}

		&-grid {
			grid-template-columns: 1fr 1fr;

			&__item {
				height: 43vw;
			}
		}

		&__bg {
			display: none;
		}

		&__box {
			display: block;
		}

		&__tree {
			top: -13rem;
			left: 0;
			z-index: 1;
		}

		&-grid {
			padding: 3rem;
			row-gap: 2rem;
			column-gap: 2rem;
		}

		&-card {
			&__title {
				font-size: 2.65rem;

				span {
					font-size: 3.33rem;
				}
			}

			&__text {
				font-size: 2.5rem;
			}
		}
	}

	.goods {
		padding-top: 10rem;

		&__box {
			display: none;
		}
	}

	.good {
		padding-left: 4.2rem;
		padding-right: 4.2rem;
		padding-bottom: 5.8rem;

		&:not(:last-child) {
			margin-bottom: 22rem;
		}

		&__header {
			margin-top: 12rem;
			flex-direction: column;
			flex-wrap: wrap;

			.span-wrapper {
				flex-direction: row-reverse;
				font-size: 3.33rem;
			}
		}

		&__name {
			margin-bottom: 1rem;
			font-size: 3.33rem;
		}

		&-btn {

			&_primary,
			&_outline {
				width: 100%;
				max-width: 40rem;
				font-size: 2.65rem;
			}

			&_outline {
				height: 10rem;
			}
		}

		&__adv {
			font-size: 2.35rem;
		}

		&__prop-dash {
			display: none;
		}

		&__prices {
			.price {
				font-size: 2.65rem;

				&-name {
					font-size: 2.33rem;
				}

				&_part {
					.dig {
						font-size: 4.33rem;
					}

					.rub {
						font-size: 4rem;
					}
				}

				&_total {
					.dig {
						font-size: 3.33rem;
					}

					.rub {
						font-size: 2rem;
					}
				}
			}
		}
	}

	.help {
		margin-top: 0;
		padding-bottom: 1.5rem;
	}

	.important {
		&-heading {
			h2 {
				max-width: 50rem;
			}
		}

		&__content {
			.center-img {

				&__round,
				&__street {
					display: none;
				}
			}
		}

		&__item {
			max-width: 250px;
			font-size: 2.33rem;

			&-wrapper {
				flex-wrap: nowrap;
				justify-content: unset;
			}

			.item__title {
				font-size: 2.65rem;
			}

			img {
				height: 16.65rem;
			}
		}

		&__slider {
			position: relative;
		}

		&-slide {
			// width: 180px;
			display: flex;
			justify-content: center;
			// display: block;
			width: auto;
			flex-basis: auto;

			&_center {
				.important__item {
					margin-top: 0;
				}
			}

			&__tree_l {
				top: -5rem;
			}

			&__tree_r {
				top: -30rem;
			}
		}

		.swiper-button {

			&-prev,
			&-next {
				display: flex;
				width: 6.5rem;
				height: 6.5rem;
				top: 50%;

				&::after {
					font-size: 2rem;
				}
			}

			&-prev {
				left: calc(50% - 27.5rem);
			}

			&-next {
				right: calc(50% - 27.5rem);
			}
		}
	}

	.buy {
		&-text {
			&__heading {
				h4 {
					font-size: 3rem;
				}
			}

			&__body {
				font-size: 2.5rem;
			}
		}

		&-img {
			margin-top: 6.65rem;
			margin-bottom: 6.65rem;

			.img-grid {
				column-gap: 1.65rem;
			}
		}

		&__box {
			bottom: -38rem;
		}
	}

	.reviews {
		&__slider {
			padding-bottom: 13rem;
		}

		&-slide {
			width: 43rem;
		}

		.swiper-button {

			&-prev,
			&-next {
				display: flex;
				width: 6.5rem;
				height: 6.5rem;
				top: 54%;

				&::after {
					font-size: 2rem;
				}
			}

			&-prev {
				left: calc(50% - 27.5rem);
			}

			&-next {
				right: calc(50% - 27.5rem);
			}
		}
	}

	.main-video {
		&__img {
			img {
				margin-bottom: 3rem;
			}

			.video {
				&__btn {
					top: calc(50% - 2rem);
				}
			}
		}
	}

	.video {
		&-grid {
			grid-template-columns: 1fr 1fr;
			column-gap: 1.65rem;
			row-gap: 1.65rem;
		}
	}

	.overviews {
		padding-bottom: 10rem;
	}

	.social {
		padding: 8.5rem 0;

		&__heading {
			font-size: 3.65rem;
		}

		&__phones {
			top: -16rem;

			&-wrapper {
				margin-left: 15rem;
			}

			img {
				max-width: 40rem;
			}
		}

		&__links {
			a {
				width: 8rem;
				height: 8rem;
			}

			.yt {
				margin-right: 4rem;
			}
		}
	}

	.questions {
		padding-top: 22rem;

		&__img1 {
			left: -12rem;
		}
	}

	.partn {
		&__container {
			padding: 0;
			max-width: none;
		}

		&__content {
			padding-bottom: 88rem;

			&_left {
				padding-left: 2.5rem;
				padding-right: 2.5rem;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				max-width: 440px;
			}

			&_right {
				.svg-partn-line-round {
					transform: rotate(75deg);
				}
			}
		}

		&-content {
			&__img {
				img {
					object-position: 50% 10rem;
				}
			}
		}

		&__video {
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			max-width: 440px;

			&-round {
				margin-left: 5rem;
			}
		}

		&-video {
			&__offer {
				margin-left: 16rem;
			}

			&__btn {
				bottom: auto;
				height: 56px;

				&-wrapper {
					margin-left: -3rem;
					width: 82.5px;

					img {
						width: 100%;
					}
				}
			}
		}

		&__card {
			padding: 4.2rem;
			font-size: 2.5rem;
		}

		&-card {
			&__heading {
				font-size: 3rem;
			}

			&__btn {
				width: 44rem;
			}
		}
	}

	.footer {
		// padding-top: 6rem;
		font-size: 2.65rem;

		&__logo {
			max-width: 15rem;
		}

		&-contacts__phone {
			font-size: 3.33rem;
		}

		&__grid {
			grid-template-columns: 1fr;
			grid-template-rows: unset;
			grid-template-areas: "f-logo"
				"contacts"
				"f-menu-1"
				"f-menu-2"
				"f-menu-3";
		}

		.copy {
			text-align: left;
		}

		&-contacts__phone svg,
		&-contacts__mail svg,
		&-contacts__location i {
			display: none;
		}
	}
}

@media (max-width: 479.98px) {
	.top-menu {
		&-wrapper {
			left: 25rem;
		}
	}

	.intro {
		&-power {
			max-width: 40rem;
		}

		// &__bg,
		&__clouds {
			height: 73rem;
		}

		&__man {
			&_mobile {
				height: 50rem;
			}

			img {
				max-width: 167px; //перевести в rem
			}
		}
	}

	.important {

		// &__content{
		// }
		&__slider {
			// position: relative;
		}

		&-slide {
			// width: 100%;
			// max-width: 180px;
		}

		.swiper-button {
			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}
		}
	}

	.good {
		&__header {
			align-items: flex-start;
		}
	}

	.buy-img .img-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.reviews {
		&-slide {
			&__img {
				display: flex;
				justify-content: center;
			}
		}
	}

	.overviews__yt {
		top: -30rem;
	}

	.video {
		// &-grid{
		// 	grid-template-columns: 1fr;
		// }
	}

	.partn-video__btn-wrapper {
		margin-left: -1.5rem;
	}

	.partn__content {
		padding-bottom: 105rem;
	}
}

// XXS
@media (max-width: 414.98px) {
	.btn {
		&_primary {
			padding-left: 1em;
			padding-right: 1em;
			height: 10rem;
		}

		&_file {
			font-size: 2.6rem;
			width: 4em;
			height: 4em;
		}
	}

	.d {
		&-block {
			&_xxs {
				display: block;
			}
		}

		&-inline {
			&_xxs {
				display: inline;
			}
		}

		&-none {
			&_xxs {
				display: none;
			}
		}
	}

	.header {
		&.white {
			.header {
				&__container {
					@include m.headerShadowMobile;
				}
			}
		}

		&__container {
			position: static;
		}

		&-nav {
			display: flex;
			justify-content: center;
			border: none;
		}
	}

	.top-menu {
		margin-left: 0;
		text-align: center;

		&-wrapper {
			width: 100%;
			max-width: none;
			left: 0;
			right: 0;
		}
	}

	.intro {
		&__container {
			padding-top: 9rem;
		}

		&-power {
			&__inner {
				padding: 3.5rem 9rem 3.5rem 2.5rem;
			}
		}

		&-offer {
			margin-top: 13rem;
		}

		&__bg {
			height: 79rem;
		}

		&__clouds {
			height: 73rem;
		}

		&__man {
			&_mobile {

				// height: 45rem;
				img {
					object-position: 127% 0;
				}
			}
		}

		&-btns {
			max-width: 290px;

			.btn_file {
				margin-left: auto;
			}
		}
	}

	.want-check {
		padding-top: 0;
		padding-bottom: 3rem;

		&__inner {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		&__heading {

			&,
			h3 {
				display: inline;
			}
		}

		&__subheading {
			font-weight: 700;

			&,
			p {
				display: inline;
			}
		}

		&__text {
			margin-top: 2rem;
		}

		&__phone {
			bottom: -8rem;
		}
	}

	.stars {
		&__slider {
			&-wrapper {
				margin-top: 1.5rem;
				margin-bottom: 9rem;
			}
		}

		&-card {
			top: -5rem;

			&__btn {
				width: 100%;
			}
		}

		.swiper-button {

			&-prev,
			&-next {
				top: 25%;
			}
		}
	}

	.quote {
		padding: 2.5rem 0rem;

		&_before {
			bottom: -2rem;
			right: 2rem;
		}

		&_after {
			top: -2rem;
			left: 2rem;
		}
	}

	.about {
		&__tree {
			top: -21rem;
		}

		&-grid {
			grid-template-columns: 1fr;
			grid-template-areas: "item-1"
				"item-3"
				"item-4"
				"item-6"
				"item-7"
				"item-10"
				"item-9"
				"item-11"
				"item-12"
				"item-8";

			&__item {
				height: 51vw;

				&-1 {
					grid-area: item-1;
				}

				&-2 {
					display: none;
					// grid-area: item-2;
				}

				&-3 {
					grid-area: item-3;
				}

				&-4 {
					grid-area: item-4;
				}

				&-5 {
					display: none;
					// grid-area: item-5;
				}

				&-6 {
					grid-area: item-6;
				}

				&-7 {
					grid-area: item-7;
				}

				&-8 {
					grid-area: item-8;
				}

				&-9 {
					grid-area: item-9;
				}

				&-10 {
					grid-area: item-10;
				}

				&-11 {
					grid-area: item-11;
				}

				&-12 {
					grid-area: item-12;
				}
			}
		}
	}

	.goods {
		&__heading {
			margin-bottom: 29rem;
		}
	}

	.good {
		&:not(:last-child) {
			margin-bottom: 26rem;
		}

		&__img {
			&-bg {
				display: none;
			}

			img {
				width: auto;
				max-width: 32rem;
			}
		}

		&__adv {
			margin-bottom: 5rem;
		}

		&__header {
			margin-top: 18rem;
			margin-left: -3rem;
			margin-right: -3rem;
		}

		&__prop {
			font-weight: 500;
		}

		&__name {
			align-self: center;
		}

		&__prices {
			flex-direction: column-reverse;

			.price {
				&-name {
					// margin-bottom: 4.5rem;
				}

				&_total {
					margin-bottom: 6rem;
				}

				&_part {
					&>div {
						margin-top: 5rem;
					}
				}
			}
		}

		&__btns {
			margin-top: 6.5rem;
		}
	}

	.help {
		padding-top: 3rem;
	}



	.form {
		&__group {
			padding-top: 1.2rem;
			height: 11rem;

			&.form__group {

				&.focused,
				&.valid {
					.form__label_control {
						transform: translateY(calc(-100% + 2.2rem)) scale(0.8);
					}
				}
			}
		}
	}

	.form-section {
		&__inner {
			padding-left: 2rem;
			padding-right: 2.5rem;
		}

		// &__group{
		// 	padding-top: 1.2rem;
		// 	height: 11rem;
		// 	&.form__group{
		// 		&.focused,
		// 		&.valid{
		// 			.form__label_control{
		// 				transform: translateY(calc(-100% + 2.2rem)) scale(0.8);
		// 			}
		// 		}
		// 	}
		// }
	}

	.important {
		margin-top: 0;
		padding-top: 12rem;

		&-heading {
			margin-bottom: 5rem;
		}

		&__tree {
			&_l {
				top: 25rem;

				img {
					max-width: 15rem;
				}
			}

			&_r {
				top: -18rem;

				img {
					max-width: 20rem;
				}
			}
		}

		.swiper-button {

			&-prev,
			&-next {
				top: 18%;
			}
		}
	}

	.prize {
		padding-top: 9rem;

		&__sims {
			top: -15rem;
		}
	}

	.buy {
		padding-bottom: 0;

		&-text {
			&__heading {
				h4 {
					max-width: 37rem;
				}
			}
		}

		&__box {
			max-width: 25rem;
			right: 0;
			bottom: 42rem;
		}
	}

	.reviews {
		padding-top: 9rem;
		padding-bottom: 1rem;

		&-slide {
			&__img {
				img {
					// margin-left: auto;
					// margin-right: auto;
					// width: 80%;
					// max-width: 302px;
				}
			}
		}

		.swiper-button {
			&-prev {
				left: 2.5rem;
			}

			&-next {
				right: 2.5rem;
			}
		}
	}

	.overviews {
		padding-top: 0;

		&__yt {
			max-width: 19rem;
			top: -33rem;
			left: -1rem;
		}
	}

	.questions {
		padding-top: 25rem;
	}

	.partn {
		&__heading {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}

		&-video {
			&__btn {
				height: 6.8rem;

				&-wrapper {
					margin-left: 5rem;
					width: 10rem;
				}
			}
		}
	}

	.footer {
		&-contacts {
			&__item {
				margin-top: 3rem;
			}

			&__location {
				max-width: 33rem;
			}
		}

		&-menu {
			&__item {
				margin-top: 1.5rem;
			}
		}
	}
}

@media (max-width: 359.99px) {
	.partn__content {
		padding-bottom: 128rem;
	}
}

@media (max-width: 320px) {}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {}