.exp-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}

.exp-icon {
  width: 100%;
  fill: #ffffff;
}

.fill_SkyBlue {
  /* transition: fill 1000ms; */
  /* fill: #00B2E8; */
  animation: iconBlue 500ms ease-out 0ms forwards;
}

@keyframes iconBlue {
  0% {
    /* transform: translateY(0px); */
    fill: #fff;
  }
  50% {
    /* transform: translateY(-1px); */
    fill: #fff;
  }
  100% {
    /* transform: translateY(0px); */
    fill: #00B2E8;
  }
}

.exp-icon_parachute {
  max-width: 50px;
}

.exp-icon_house {
  max-width: 50px;
}

.exp-icon_ruble {
  max-width: 36px;
}

.block3-img-box {
  position: relative;
  flex: 1;
  align-self: center;
  max-width: 410px;
  display: flex;
}

.exp-scene {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.exp-everlay {
  max-width: 100%;
  visibility: hidden;
  opacity: 0;
}

.exp-scene img {
  position: absolute;
}

.exp-furniture {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.exp-hart_lg {
  width: 20%;
  top: 8%;
  left: 70%;
  z-index: 10;
}

.exp-hart_lg.move-hart {
  opacity: 1;
  animation: hartLgMove 2000ms linear infinite alternate;
}

.exp-hart_md {
  width: 100%;
  top: 0%;
  left: -3%;
  z-index: 15;
}

.exp-hart_md.move-hart {
  opacity: 1;
  animation: hartMdMove 2000ms linear infinite alternate;
}

.exp-hart_sm {
  width: 100%;
  top: -3%;
  left: -2%;
  z-index: 20;
}

.exp-hart_sm.move-hart {
  opacity: 1;
  animation: hartSmMove 2000ms linear infinite alternate;
}

.exp-flower {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 25;
}

.exp-device {
  width: 39%;
  top: 0;
  left: 34%;
  z-index: 30;
}

.exp-girl {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 35;
}





/* Animations */
.exp-anim {
  opacity: 0;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


.exp__slideInLeft {
  animation-name: expSlideInLeft;
}

@keyframes expSlideInLeft {
  0% {
    opacity: 1;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInLeft_500 {
  animation-name: expSlideInLeft500;
}

@keyframes expSlideInLeft500 {
  0% {
    opacity: 1;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInLeft_600 {
  animation-name: expSlideInLeft600;
}

@keyframes expSlideInLeft600 {
  0% {
    opacity: 1;
    transform: translateX(-600px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInLeft_700 {
  animation-name: expSlideInLeft700;
}

@keyframes expSlideInLeft700 {
  0% {
    opacity: 1;
    transform: translateX(-700px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInRight_500 {
  animation-name: expSlideInRight500;
}

@keyframes expSlideInRight500 {
  0% {
    opacity: 1;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInRight_550 {
  animation-name: expSlideInRight550;
}

@keyframes expSlideInRight550 {
  0% {
    opacity: 1;
    transform: translateX(550px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInRight_700 {
  animation-name: expSlideInRight700;
}

@keyframes expSlideInRight700 {
  0% {
    opacity: 1;
    transform: translateX(700px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.exp__slideInRight_800 {
  animation-name: expSlideInRight800;
}

@keyframes expSlideInRight800 {
  0% {
    opacity: 1;
    transform: translateX(800px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes hartLgMove {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(-15%, -4%);
  }
}

@keyframes hartMdMove {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(-4%, -2%);
  }
}

@keyframes hartSmMove {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(-3%, 2%);
  }
}




/* Media queries */
@media (max-width: 1249.98px) {
  :root {
    /* --war-height-ratio-1250: .65; */
    --exp-width-ratio-1250: .65;
  }
}

@media (max-width: 1000.98px) {
  .block3__box-icon {
    margin: 0 auto 60px auto;
  }

  .block3-img-box {
    margin-bottom: 20px;
    width: calc(100% - 40px);
    max-width: none;
  }

  .exp-everlay {
    width: 100%;
  }

  @keyframes iconBlue {
    0% {
      /* transform: translateY(0px); */
      fill: #fff;
    }
    50% {
      /* transform: translateY(0px); */
      fill: #fff;
    }
    100% {
      /* transform: translateY(0px); */
      fill: #00B2E8;
    }
  }

}