.interest {
  position: relative;
  width: 32%;
  max-width: 407px;
  transition: opacity 1500ms;
}

.interest_transparent {
  opacity: 0;
}

.interest__skeleton {
  width: 100%;
  padding-bottom: 74.75%;
}

.interest__scene {
  position: absolute;
  top: -19%;
  left: -11%;
  width: 140%;
  height: 140%;
}

.interest__item {
  position: absolute;
}

.interest__scene-bg {
  width: 100%;
  bottom: 0%;
  left: 0%;
  z-index: 5;
}

.interest__tp-cloud-1 {
  width: 22.5%;
  left: 9%;
  top: -29%;
  z-index: 10;
}

.interest__tp-cloud-2 {
  width: 19.5%;
  left: 24%;
  top: -59%;
  z-index: 10;
}

.interest__tp-cloud-3 {
  width: 13%;
  left: 43%;
  top: -31%;
  z-index: 10;
}

.interest__tp-cloud-4 {
  width: 26%;
  left: 60%;
  top: -14%;
  z-index: 10;
}

.interest__tp-cloud-5 {
  width: 15%;
  left: 65%;
  top: -66%;
  z-index: 10;
}

.interest__tp-cloud-6 {
  width: 12%;
  left: 85%;
  top: -40%;
  z-index: 10;
}

.interest__md-cloud-1 {
  width: 11.5%;
  left: 12%;
  top: 22%;
  z-index: 10;
}

.interest__md-cloud-2 {
  width: 18.5%;
  left: 24.5%;
  top: 3%;
  z-index: 10;
}

.interest__md-cloud-3 {
  width: 15%;
  left: 41%;
  top: 21.5%;
  z-index: 10;
}

.interest__md-cloud-4 {
  width: 15%;
  left: 68%;
  top: 11.5%;
  z-index: 10;
}

.interest__md-cloud-5 {
  width: 12%;
  left: 72%;
  top: 29.5%;
  z-index: 10;
}

/* MAN FLY */
.interest__man-fly-wrap {
  top: -57%;
  left: 50%;
  width: 40%;
  height: 50%;
  z-index: 80;
}

/* .interest__man-fly-wrap.is-landed {
  transform: translate(-10%, 130%) rotate(21deg);
} */

/* .interest__man-fly-bag {
  top: 14%;
  left: 20%;
  transform: translate(70%, 150%) rotate(-46deg);
  width: 29%;
  z-index: 10;
} */

.interest__man-fly-bag {
  top: 13%;
  left: 19%;
  transform: rotate(-46deg);
  width: 29%;
  z-index: 14;
}

.interest__man-fly-bag-fire {
  top: 11%;
  left: 23%;
  transform: rotate(-46deg);
  width: 29%;
  z-index: 10;
  transition: opacity 750ms 750ms;
}

.interest__man-fly-bag.hidden,
.interest__man-fly-bag-fire.hidden {
  display: none;
  opacity: 0;
}

.interest_transparent .interest__man-fly-bag-fire {
  opacity: 0;
}


.interest__man-fly {
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 10;
}

.interest__man-fly-hand {
  top: 35%;
  left: 21%;
  width: 18%;
  z-index: 12;
}




.interest__scene-floor-wrap {
  top: -6%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow: hidden;
}

.interest__scene-floor {
  top: -3%;
  left: 0%;
  width: 100%;
  z-index: 55;
}


.interest__int-arrow-sm {
  /* top: 64.5%;
  left: 13%; */
  top: 87.5%;
  left: -4%;
  width: 23%;
  z-index: 8;
  opacity: .5;
}

.interest__int-arrow-md {
  /* top: 77%;
  left: 65%; */
  top: 92%;
  left: 57%;
  width: 14%;
  z-index: 8;
  opacity: .5;
}

.interest__int-arrow-blue {
  /* top: 50.8%;
  left: 21%; */
  top: 100%;
  left: -40%;
  width: 60%;
  z-index: 8;
  opacity: .5;
}





/* MAN UP */
.interest__man-up-wrap {
  top: 43%;
  left: 23%;
  width: 25%;
  height: 50%;
  z-index: 60;
}

.interest__man-up {
  top: 1%;
  left: -8%;
  width: 82%;
  z-index: 10;
}

.interest__man-up-hand {
  top: 15%;
  left: -3%;
  width: 72%;
  z-index: 8;
}

.interest__man-up-leg-l {
  top: -1%;
  left: -.5%;
  width: 81%;
  z-index: 8;
}

.interest__man-up-leg-r {
  top: 32.5%;
  left: -1%;
  width: 87%;
  z-index: 8;
}

.interest__man-up-leg-r-step {
  top: 5%;
  left: -3%;
  width: 73%;
  z-index: 8;
  /* transform: translateY(-100%); */
  opacity: 0;
}



.interest__btm-clouds {
  top: -2%;
  left: -4%;
  width: 110%;
  z-index: 60;
}









/* MEDIA QUERIES */
@media (max-width: 1399.98px) {
  .block8 {
    justify-content: space-between;
  }

  .block8__info {
    width: 60%;
  }

  .interest__scene {
    left: 0;
  }
}

@media (max-width: 1000.98px) {
  .interest{
    display: none;
  }

  .interest__man-fly-bag,
  .interest__man-fly-bag-fire {
    display: none;
  }

  /* .interest_transparent{
    opacity: 1;
  } */
  .interest {
    margin-top: 50%;
    width: 100%;
    max-width: 970px;
  }

  .interest__scene {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .block8__info {
    width: auto;
  }


  /* FOR MOB ANIMATION */
  .interest__man-fly-wrap {
    transform: translate(-10%, 134%) rotate(21deg);
  }

  .interest__man-fly-hand {
    transform-origin: 7% 8%;
  }

  .interest__man-up-wrap {
    transform: translate(44%, -23%);
  }

  .interest__man-up-leg-r {
    transform: translate(0%, 0%);
    opacity: 0;
  }

  .interest__man-up-leg-r-step {
    opacity: 1;
  }

  .interest__man-up-leg-l {
    transform-origin: 51% 57%;
    transform: rotate(15deg);
  }

  .interest__man-up-hand {
    transform-origin: 62% 2%;
  }

  .interest__int-arrow-blue {
    transform: translate(101%, -97.4%);
    opacity: 1;
  }

  .interest__int-arrow-md {
    transform: translate(67%, -59%);
    opacity: 1;
  }

  .interest__int-arrow-sm {
    transform: translate(75%, -81%);
    opacity: 1;
  }

  .interest__btm-clouds {
    transform: translate(0%, -5%);
  }


  /* FOR STATIC */
  .interest__man-fly-hand {
    transform: rotate(46deg);
  }

  .interest__man-up-hand {
    transform: rotate(-57deg);
  }













}


@media (max-width: 767.98px) {}


@media (max-width: 414.98px) {}


@media (max-width: 359.98px) {}