.pc-img-block2{
  /* display: flex;
  align-self: stretch; */
  position: relative;
  min-height: 336px;
}

.warranty-scene{
  position: absolute;
  top: -10px;
  left: -8px;
  z-index: 5;
  width: 410px;
}

.warranty-text-wrap{
  position: absolute;
  top: 215px;
  left: 115px;
  z-index: 10;
  width: 70px;
  /* height: 88px; */
  max-width: 0px;
  overflow: hidden;
}

.warranty-text{
  width: 70px;
}

.warranty-pen{
  position: absolute;
  top: 235px;
  left: 115px;
  width: 132px;
  z-index: 15;
}

.warranty-pen.sticky{
  position: fixed;
  z-index: 999;
  transition: opacity .5s;
}
.warranty-pen.unvisible{
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity .5s;
}

.warranty-pen.up{
  transform: rotate(17deg);
  left: 115px;
  top: 150px;
  transition: 1000ms;
}


@media (max-width: 1249.98px) {
  /* left: 8px; */
  /* top: 60px; */
  :root {
    /* --war-height-ratio-1250: .65; */
    --war-width-ratio-1250: .65;
  }

  .warranty-scene{
    top: 50px;
    left: 0;
    width: calc(410px * var(--war-width-ratio-1250));
  }
  
  .warranty-text-wrap{
    top: 196px;
    left: 80px;
    width: calc(70px * var(--war-width-ratio-1250));
    /* height: calc(88px * var(--war-width-ratio-1250)); */
  }
  
  .warranty-text{
    width: calc(70px * var(--war-width-ratio-1250));
  }
  
  .warranty-pen{
    top: 210px;
    left: 80px;
    width: calc(132px * var(--war-width-ratio-1250));
  }
}


@media (max-width: 1099.98px) {
  /* left: 8px; */
  /* top: 60px; */
  :root {
    /* --war-height-ratio-1250: .65; */
    --war-width-ratio-1100: .55;
  }

  .pc-img-block2{
    top: 20px;
  }

  .warranty-scene{
    /* top: 50px;
    left: 0; */
    width: calc(410px * var(--war-width-ratio-1100));
  }
  
  .warranty-text-wrap{
    top: 175px;
    left: 66px;
    width: calc(70px * var(--war-width-ratio-1100));
    /* height: calc(88px * var(--war-width-ratio-1100)); */
  }
  
  .warranty-text{
    width: calc(70px * var(--war-width-ratio-1100));
  }
  
  .warranty-pen{
    top: 187px;
    left: 66px;
    width: calc(132px * var(--war-width-ratio-1100));
  }
}


@media (max-width: 1000.98px) {
  :root {
    /* --war-height-ratio-1250: .65; */
    --war-width-ratio-1000: 1.65;
  }

  .block2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .pc-img-block2{
    top: unset;
    min-height: 680px;
  }

  .warranty-scene{
    left: calc(50%  - (410px * var(--war-width-ratio-1000)) / 2);
    width: calc(410px * var(--war-width-ratio-1000));
  }
  
  .warranty-text-wrap{
    top: 405px;
    left: calc(50%  - (70px * var(--war-width-ratio-1000)) / 2 - 70px);
    width: calc(70px * var(--war-width-ratio-1000));
  }
  
  .warranty-text{
    width: calc(70px * var(--war-width-ratio-1000));
  }
  
  .warranty-pen{
    width: calc(132px * var(--war-width-ratio-1000));
    top: 435px;
    left: calc(50%  - (132px * var(--war-width-ratio-1000)) / 2 - 19px);
  }
}


@media (max-width: 767.98px) {
  :root {
    --war-width-ratio-768: .95;
  }

  .block2{
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
  }

  .pc-img-block2{
    /* top: unset; */
    min-height: 350px;
  }

  .warranty-scene{
    left: calc(50%  - (410px * var(--war-width-ratio-768)) / 2);
    width: calc(410px * var(--war-width-ratio-768));
  }
  
  .warranty-text-wrap{
    top: 265px;
    left: calc(50%  - (70px * var(--war-width-ratio-768)) / 2 - 47px);
    width: calc(70px * var(--war-width-ratio-768));
  }
  
  .warranty-text{
    width: calc(70px * var(--war-width-ratio-768));
  }
  
  .warranty-pen{
    width: calc(132px * var(--war-width-ratio-768));
    top: 284px;
    left: calc(50%  - (132px * var(--war-width-ratio-768)) / 2 - 19px);
  }
}


@media (max-width: 414.98px) {
  :root {
    --war-width-ratio-415: .75;
  }
  .block3{
    margin-top: 5px;
  }

  .block2{
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
  }

  .pc-img-block2{
    /* top: unset; */
    min-height: 350px;
  }

  .warranty-scene{
    left: calc(50%  - (410px * var(--war-width-ratio-415)) / 2);
    width: calc(410px * var(--war-width-ratio-415));
  }
  
  .warranty-text-wrap{
    top: 219px;
    left: calc(50%  - (70px * var(--war-width-ratio-415)) / 2 - 44px);
    width: calc(70px * var(--war-width-ratio-415));
  }
  
  .warranty-text{
    width: calc(70px * var(--war-width-ratio-415));
  }
  
  .warranty-pen{
    width: calc(132px * var(--war-width-ratio-415));
    top: 234px;
    left: calc(50%  - (132px * var(--war-width-ratio-415)) / 2 - 21px);
  }
}


@media (max-width: 359.98px) {
  :root {
    --war-width-ratio-360: .65;
  }

  /* .block2{ */
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
  /* } */

  /* .pc-img-block2{ */
    /* top: unset; */
    /* min-height: 350px; */
  /* } */

  .warranty-scene{
    left: calc(50%  - (410px * var(--war-width-ratio-360)) / 2);
    width: calc(410px * var(--war-width-ratio-360));
  }
  
  .warranty-text-wrap{
    top: 196px;
    left: calc(50%  - (70px * var(--war-width-ratio-360)) / 2 - 38px);
    width: calc(70px * var(--war-width-ratio-360));
  }
  
  .warranty-text{
    width: calc(70px * var(--war-width-ratio-360));
  }
  
  .warranty-pen{
    width: calc(132px * var(--war-width-ratio-360));
    top: 210px;
    left: calc(50%  - (132px * var(--war-width-ratio-360)) / 2 - 18px);
  }
}
