-
    var page = {
        pageUrl: 'index.html',
        pageTitle: 'Усилители сигнала STREET - YS System',
        pageName: 'Главная',
    }
    
doctype html

html(lang="ru")
    include _includes/_head.pug


    body
        .wrapper#wrapper
            |
            |
            <!-- Header
            |
            |================================================== -->
            include _includes/_header.pug


            |
            |
            main
                <!-- Intro
                |
                |================================================== -->
                section.section.intro
                    .container.intro__container
                        .intro__content 
                            .intro__heading 
                                h1
                                    |Нужен стабильный интернет в загородный дом или на дачу? 
                                    span.intro__subheading С подключением за 1 день, 
                                        span.d-block_xl.d-inline_md.d-block_sm без вызова мастеров, 
                                        span.d-block_sm.d-inline_md.d-block_sm от 400 руб./мес.

                            .intro-power
                                .intro-power__inner
                                    b.d-block_md Купите «Street 2 PRO»
                                    | и уже через 12 минут после включения, вы получите стабильный интернет с Wi-Fi раздачей в любом месте РФ и СНГ*
                                .intro-power__img.intro-power__img_street
                                    picture 
                                        source(srcset="img/lte.webp", type="image/webp")
                                        img(src="img/lte.png", alt="Street 2 PRO")
                                .intro-power__img.intro-power__img_arrow
                                    img(src="img/arrow-round.svg", alt="arrow")

                            .intro-offer.line-blue Посмотрите 2х минутное видео о нашем устройстве или скачайте презентацию в pdf

                            .intro-btns 
                                a(data-fancybox, href="https://www.youtube.com/watch?v=xik3yOWovg0")
                                    .btn.btn_primary.btn_shiny
                                        i.svg-play-transp.svg-play-transp-dims
                                        span.btn__text Посмотреть видео 
                                        span.btn__text.d-none_sm об устройстве
                                a(href="#", title="Скачать PDF" download).btn.btn_file 
                                    i.svg-pdf.svg-pdf-dims.icon_default
                                    i.svg-pdf-white.svg-pdf-white-dims.icon_hover




                        .section__img.intro__man
                            picture 
                                source(srcset="img/x720/intro-man-388x680.webp", media="(max-width: 991px)", type="image/webp")
                                source(srcset="img/x720/intro-man-388x680.png", media="(max-width: 991px)", type="image/png")
                                source(srcset="img/intro-man.webp", type="image/webp")
                                img(src="img/intro-man.png", alt="мужчина")

                    
                        .section__bg.section__bg_contain.intro__clouds
                            .section__bg.section__bg_contain.intro__man_mobile
                                picture 
                                    source(srcset="img/x320/intro-man-176x309.webp", media="(max-width: 575px)", type="image/webp")
                                    source(srcset="img/x320/intro-man-176x309.png", media="(max-width: 575px)", type="image/png")
                                    source(srcset="img/intro-man.webp", type="image/webp")
                                    img(src="img/intro-man.png", alt="мужчина")
                            picture 
                                source(srcset="img/intro-cloud.webp", type="image/webp")
                                img(src="img/intro-cloud.png", alt=" ")
    

                    .section__bg.section__bg_cover.intro__bg
                        picture 
                            source(srcset="img/x320/bg-intro-320.webp", media="(max-width: 414px)", type="image/webp")
                            source(srcset="img/x320/bg-intro-320.png", media="(max-width: 414px)", type="image/png")
                            source(srcset="img/bg-intro.webp", type="image/webp")
                            img(src="img/bg-intro.png", alt=" ")


                <!-- Want-check 
                |
                |================================================== -->
                section.section.form-section.want-check
                    .container.form-section__container
                        .form-section__inner.want-check__inner
                            .form-section__heading.want-check__heading
                                h3 Хотите проверить «Street» у себя?
                                .form-section__subheading.want-check__subheading
                                    p Берите на 7-и дневный тест-драйв!
                            .form-section__text.want-check__text
                                p Прямо сейчас оставьте заявку на консультацию – расскажем как и ответим на все ваши вопросы.

                            .form-section-wrapper 
                                form.form.form-section__form(action="mail.php", id="cbForm1" name="cbForm1" method="POST") 
                                    //- name-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userName", id="userName1", required) 
                                        label.form__label.form__label_control(for="userName1") 
                                            |Ваше имя
                                        i.svg-user.svg-user-dims.form-icon
                                    //- email-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userPhone", id="userPhone1", required) 
                                        label.form__label.form__label_control(for="userPhone1") 
                                            |Ваш телефон
                                        i.svg-phone.svg-phone-dims.form-icon

                                    input(type="hidden", value="Хотите проверить «Street» у себя?", name="formTheme")
                                        
                                    //- submit
                                    .form__submit-wrap.form-section__submit.loader-container
                                        button.btn.btn_primary.btn_shiny.btn_full-width.form__submit(type="submit") Перезвоните мне
                        
                        .section__img.want-check__modem.lazy 
                            picture 
                                source(srcset="img/x720/modem-720.webp", media="(max-width: 991.98px)", type="image/webp")
                                source(srcset="img/x720/modem-720.png", media="(max-width: 991.98px)", type="image/png")
                                source(srcset="img/modem.webp", type="image/webp")
                                img(data-src="img/modem.png", alt=" ")
                        .section__img.want-check__phone.lazy
                            picture
                                source(srcset="img/x720/phone-720.webp", media="(max-width: 991.98px)", type="image/webp")
                                source(srcset="img/x720/phone-720.png", media="(max-width: 991.98px)", type="image/png")
                                source(srcset="img/x320/phone-320.webp", media="(max-width: 767.98px)", type="image/webp")
                                source(srcset="img/x320/phone-320.png", media="(max-width: 767.98px)", type="image/png")
                                source(srcset="img/phone.webp", type="image/webp")
                                img(data-src="img/phone.png", alt=" ")




                <!-- Stars 
                |
                |================================================== -->
                section.section.stars
                    .container
                        .section__heading 
                            h2 Нас выбирают звезды
                        .stars__subheading
                            p За 12 лет работы мы сделали счастливыми более 15 500 клиентов.
                                br
                                |Среди них было множество звезд, таких как:
                    .stars__slider-wrapper
                        //- <!-- Slider main container -->
                        .stars__slider
                            //- <!-- Additional required wrapper -->
                            .swiper-wrapper
                                //- <!-- Slides -->
                                .swiper-slide.stars-slide 
                                    .stars-slide__img.lazy 
                                        picture
                                            source(srcset="img/zhuk.webp", type="image/webp")
                                            img(data-src="img/zhuk.png", alt="Сергей Жуков") 
                                    .stars-card 
                                        .stars-card__inner
                                            .stars-card__heading 
                                                h4 Сергей Жуков
                                            .stars-card__text 
                                                p Команда YS-System установила Street 2Pro Сергею Жукову в офис. Помогли настроить и проконсультировали по поводу гарантии.
                                            .stars-card__btn-wrapper 
                                                a(data-fancybox, href="https://www.youtube.com/watch?v=wjfdUVkj8_c")
                                                    .btn.btn_secondary.stars-card__btn Посмотреть видеоотзыв


                                .swiper-slide.stars-slide 
                                    .stars-slide__img.lazy
                                        picture
                                            source(srcset="img/marshal.webp", type="image/webp") 
                                            img(data-src="img/marshal.png", alt="Александр Маршал") 
                                    .stars-card 
                                        .stars-card__inner
                                            .stars-card__heading 
                                                h4 Александр Маршал
                                            .stars-card__text 
                                                p Команда YS-System установила Street 2Pro Сергею Жукову в офис. Помогли настроить и проконсультировали по поводу гарантии.
                                            .stars-card__btn-wrapper 
                                                a(data-fancybox, href="https://www.youtube.com/watch?v=zR3vGLE1Lyc")
                                                    .btn.btn_secondary.stars-card__btn Посмотреть видеоотзыв


                                .swiper-slide.stars-slide 
                                    .stars-slide__img.lazy 
                                        picture
                                            source(srcset="img/bezr.webp", type="image/webp")
                                            img(data-src="img/bezr.png", alt="Сергей Безруков") 
                                    .stars-card 
                                        .stars-card__inner
                                            .stars-card__heading 
                                                h4 Сергей Безруков
                                            .stars-card__text 
                                                p Команда YS-System установила Street 2Pro Сергею Жукову в офис. Помогли настроить и проконсультировали по поводу гарантии.
                                            .stars-card__btn-wrapper 
                                                a(data-fancybox, href="https://www.youtube.com/watch?v=gZMxn3JaNeU")
                                                    .btn.btn_secondary.stars-card__btn Посмотреть видеоотзыв


                                .swiper-slide.stars-slide 
                                    .stars-slide__img.lazy 
                                        picture
                                            source(srcset="img/buynov.webp", type="image/webp")
                                            img(data-src="img/buynov.png", alt="Александр Буйнов") 
                                    .stars-card 
                                        .stars-card__inner
                                            .stars-card__heading 
                                                h4 Александр Буйнов
                                            .stars-card__text 
                                                p Команда YS-System установила Street 2Pro Сергею Жукову в офис. Помогли настроить и проконсультировали по поводу гарантии.
                                            .stars-card__btn-wrapper 
                                                a(data-fancybox, href="https://www.youtube.com/watch?v=h_stp99TMC8")
                                                    .btn.btn_secondary.stars-card__btn Посмотреть видеоотзыв


                                .swiper-slide.stars-slide 
                                    .stars-slide__img.lazy 
                                        picture
                                            source(srcset="img/grish.webp", type="image/webp")
                                            img(data-src="img/grish.png", alt="Нонна Гришаева") 
                                    .stars-card 
                                        .stars-card__inner
                                            .stars-card__heading 
                                                h4 Нонна Гришаева
                                            .stars-card__text 
                                                p Команда YS-System установила Street 2Pro Сергею Жукову в офис. Помогли настроить и проконсультировали по поводу гарантии.
                                            .stars-card__btn-wrapper 
                                                a(data-fancybox, href="https://www.youtube.com/watch?v=HRDl2WqayMY")
                                                    .btn.btn_secondary.stars-card__btn Посмотреть видеоотзыв


                                .swiper-slide.stars-slide 
                                    .stars-slide__img.lazy 
                                        picture
                                            source(srcset="img/larin.webp", type="image/webp")
                                            img(data-src="img/larin.png", alt="Камиль Ларин") 
                                    .stars-card 
                                        .stars-card__inner
                                            .stars-card__heading 
                                                h4 Камиль Ларин
                                            .stars-card__text 
                                                p Команда YS-System установила Street 2Pro Сергею Жукову в офис. Помогли настроить и проконсультировали по поводу гарантии.
                                            .stars-card__btn-wrapper 
                                                a(data-fancybox, href="https://www.youtube.com/watch?v=99EO2aNWw6k")
                                                    .btn.btn_secondary.stars-card__btn Посмотреть видеоотзыв


                            //- <!-- If we need pagination -->
                            //- .swiper-pagination

                            //- <!-- If we need navigation buttons -->
                            .swiper-button-prev
                            .swiper-button-next

                            //- <!-- If we need scrollbar -->
                            //- .swiper-scrollbar
                            

                        .section__bg.section__bg_contain.stars-slider__bg.lazy
                            picture
                                source(srcset="img/tower.webp", type="image/webp")
                                img(data-src="img/tower.png", alt=" ")


                    .container.stars__quote-container.layer-block
                        .quote
                            i.svg-d-quotes.svg-d-quotes-dims.quote_before
                            i.svg-d-quotes.svg-d-quotes-dims.quote_after
                            .quote__text 
                                p 
                                    span.text_bold 12 лет помогаем клиентам получить доступный интернет,
                                    br
                                    |даже там, где другие устройства не работают
                    




                <!-- About
                |
                |================================================== -->
                section.section.about
                    .container.about__container
                        .section__heading#about
                            h2 О компании
                        
                        .about-grid-wrapper
                            .about-grid
                                .about-grid__item.about-grid__item-1.about-card.open
                                    .about-card__content 
                                        .about-card__title 
                                        .about-card__text В отличии от мастеров и компаний  однодневок, мы не пропадаем после того как получили деньги, и несем все гарантийные обязательства по договору! Наш офис отгрузок в Москве и Тех. поддержка работают 24\7, со дня создания компании и по текущий день.

                                .about-grid__item.about-grid__item-2.about-card-img.lazy 
                                    picture 
                                        source(srcset="img/x320/about-img-1.jpg", media="(max-width: 414.98px)", type="image/jpg")
                                        img(data-src="img/about-img-1.jpg", alt=" ")

                                .about-grid__item.about-grid__item-3.about-card
                                    .about-card__content 
                                        .about-card__title 
                                            div
                                                span У нас
                                                    br
                                                    |более 15 500
                                                br
                                                |счастливых клиентов
                                                br
                                                |с 2009 г. 
                                        .about-card__text 
                                
                                .about-grid__item.about-grid__item-4.about-card-img.lazy 
                                    picture 
                                        source(srcset="img/x320/about-img-2.jpg", media="(max-width: 414.98px)", type="image/jpg")
                                        img(data-src="img/about-img-2.jpg", alt=" ")
                                
                                .about-grid__item.about-grid__item-5.about-card-img.lazy 
                                    picture 
                                        source(srcset="img/x320/about-img-3.jpg", media="(max-width: 414.98px)", type="image/jpg")
                                        img(data-src="img/about-img-3.jpg", alt=" ")
                                
                                .about-grid__item.about-grid__item-6.about-card
                                    .about-card__content 
                                        .about-card__title 
                                            div
                                                span Производим
                                                    br
                                                    |устройства 
                                                    br
                                                    |«Street»
                                                br
                                                |в России 
                                        .about-card__text 
                                
                                .about-grid__item.about-grid__item-7.about-card
                                    .about-card__content 
                                        .about-card__title 
                                            div
                                                span Доставка
                                                    br
                                                    |в 26 стран
                                                br
                                                |по всему миру
                                        .about-card__text 
                                
                                .about-grid__item.about-grid__item-8.about-card
                                    .about-card__content 
                                        .about-card__title 
                                            div
                                                span СМИ
                                                br
                                                |регулярно
                                                br
                                                |упоминают нас
                                        .about-card__text 
                                
                                .about-grid__item.about-grid__item-9.about-card
                                    .about-card__content 
                                        .about-card__title 
                                            div
                                                span Мегафон, МТС,
                                                    br 
                                                    |Yota, Теle 2,
                                                    br 
                                                    |Билайн
                                                br
                                                |наши прямые
                                                br
                                                |партнеры 
                                        .about-card__text 
                                
                                .about-grid__item.about-grid__item-10.about-card-img.lazy 
                                    picture 
                                        source(srcset="img/x320/about-img-4.jpg", media="(max-width: 414.98px)", type="image/jpg")
                                        img(data-src="img/about-img-4.jpg", alt=" ")
                                
                                .about-grid__item.about-grid__item-11.about-card
                                    .about-card__content 
                                        .about-card__title 
                                            div
                                                span Отсутствие
                                                    br
                                                    |конкурентного
                                                    br
                                                    |решения
                                                br
                                                |в России
                                                br
                                                |и во всем мире
                                        .about-card__text 
                                
                                .about-grid__item.about-grid__item-12.about-card-img.lazy 
                                    picture 
                                        source(srcset="img/x320/about-img-5.jpg", media="(max-width: 414.98px)", type="image/jpg")
                                        img(data-src="img/about-img-5.jpg", alt=" ")
                            .about-grid-overlay
                            


                    .section__bg.section__bg_cover.about__bg.lazy
                        picture 
                            source(srcset="img/x720/bg-about.webp", media="(max-width: 991.98px)", type="image/webp")
                            source(srcset="img/x720/bg-about.png", media="(max-width: 991.98px)", type="image/png")
                            source(srcset="img/bg-about.webp", type="image/webp")
                            img(data-src="img/bg-about.png", alt=" ")


                    .section__img.about__box.lazy
                        picture 
                            source(srcset="img/x320/box-2.webp", media="(max-width: 575.98px)", type="image/webp")
                            source(srcset="img/x320/box-2.png", media="(max-width: 575.98px)", type="image/png")
                            source(srcset="img/box-2.webp", type="image/webp")
                            img(data-src="img/box-2.png", alt=" ")


                    .section__img.about__tree.d-none.d-block_xs.lazy
                        picture 
                            source(srcset="img/x320/about-tree-left.webp", type="image/webp")
                            img(data-src="img/x320/about-tree-left.png", alt=" ")







                <!-- Goods
                |
                |================================================== -->
                section.section.goods
                    .container.goods__container
                        .section__heading.goods__heading
                            h2#goods 3 решения
                                span.section__subheading
                                    |для получения интернета

                        .good-wrapper
                            .good#street-2 
                                .good__content 

                                    .good__img-wrapper
                                        .good__img-bg.lazy
                                            picture 
                                                source(srcset="img/x720/street-2-bg.webp", type="image/webp")
                                                img(data-src="img/x720/street-2-bg.png", alt="")
                                        .good__img.lazy
                                            picture 
                                                source(srcset="img/x720/street-2.webp", media="(max-width: 991.98px) and (min-width: 415px)", type="image/webp")
                                                source(srcset="img/x720/street-2.png", media="(max-width: 991.98px) and (min-width: 415px)", type="image/png")
                                                source(srcset="img/x320/street-2.webp", media="(max-width: 414.98px)", type="image/webp")
                                                source(srcset="img/x320/street-2.png", media="(max-width: 414.98px)", type="image/png")
                                                source(srcset="img/street-2.webp", type="image/webp")
                                                img(data-src="img/street-2.png", alt=" ")
                                    .good__header 
                                        span.good__name Street 2
                                        span.span-wrapper 
                                            span.good__prop
                                                span.good__prop-dash —
                                                span.good__prop-text самый «мобильный»
                                            i.svg-laptop.svg-laptop-dims

                                    .good__adv 
                                        ul
                                            li Получите интернет без подключения к сети 220v!
                                            li Берите Street 2 с собой на дачу, в путешествия на автомобиле, в деревню к бабушке на каникулы, или работайте удаленно там, где вы находитесь! 
                                            li Достаточно подключить его USB кабель к ноутбуку, компьютеру или Wi-Fi роутеру.

                                    .good__prices 
                                        .price.price_part
                                            span.price-name В рассрочку:
                                            div от
                                                span.dig 1375
                                                span.rub ₽
                                                span / месяц
                                        .price.price_total
                                            span.price-name Цена:
                                            div  
                                                span.dig 16 500
                                                span.rub ₽

                                    .good__btns
                                        .btn.btn_primary.btn_shiny.good-btn.good-btn_primary.modal-trigger(data-target="modal", data-form="test-street-2") Взять на тест-драйв
                                        a.btn.btn_outline.good-btn.good-btn_outline(target="_blank", href="https://ys-system.ru/wp-content/uploads/2018/11/Street-II_manual.pdf") Технические характеристики
                            
                            
                            
                            
                            .good#street-2-pro
                                .good__content 
                                    .good__img-wrapper
                                        .good__img-bg.lazy
                                            picture 
                                                source(srcset="img/x720/street-2-pro-bg.webp", type="image/webp")
                                                img(data-src="img/x720/street-2-pro-bg.png", alt="")
                                        .good__img.lazy
                                            picture 
                                                source(srcset="img/x720/street-2-pro.webp", media="(max-width: 991.98px) and (min-width: 415px)", type="image/webp")
                                                source(srcset="img/x720/street-2-pro.png", media="(max-width: 991.98px) and (min-width: 415px)", type="image/png")
                                                source(srcset="img/x320/street-2-pro.webp", media="(max-width: 414.98px)", type="image/webp")
                                                source(srcset="img/x320/street-2-pro.png", media="(max-width: 414.98px)", type="image/png")
                                                source(srcset="img/street-2-pro.webp", type="image/webp")
                                                img(data-src="img/street-2-pro.png", alt=" ")

                                    .good__header 
                                        span.good__name Street 2 PRO
                                        span.span-wrapper 
                                            span.good__prop
                                                span.good__prop-dash —
                                                span.good__prop-text cамый «быстрый х2»
                                            i.svg-fast.svg-fast-dims
                                        
                                    .good__adv 
                                        ul
                                            li Принимает и увеличивает скорость интернет сигнала практически в 2-а раза
                                            li Имеет встроенный wi-fi, работает со всеми сетевыми устройствами: видеокамеры, сигнализации, умный дом, компьютеры и тд.
                                            li Включить сможет даже ребенок – просто вставьте в розетку!
                                                br 
                                                |Не требует монтажа и настройки мастером.

                                    .good__prices 
                                        .price.price_part
                                            span.price-name В рассрочку:
                                            div от
                                                span.dig 2290
                                                span.rub ₽
                                                span / месяц
                                        .price.price_total
                                            span.price-name Цена:
                                            div  
                                                span.dig 29 500
                                                span.rub ₽

                                    .good__btns
                                        .btn.btn_primary.btn_shiny.good-btn.good-btn_primary.modal-trigger(data-target="modal", data-form="test-street-2-pro") Взять на тест-драйв
                                        a.btn.btn_outline.good-btn.good-btn_outline(target="_blank", href="https://ys-system.ru/wp-content/uploads/2018/11/instr_street-ii-pro.pdf") Технические характеристики
                            
                            
                            
                            
                            .good#street-ultra-pro
                                .good__content 
                                    .good__img-wrapper
                                        .good__img-bg.lazy
                                            picture 
                                                source(srcset="img/x720/street-2-u-bg.webp", type="image/webp")
                                                img(data-src="img/x720/street-2-u-bg.png", alt="")
                                        .good__img.lazy
                                            picture 
                                                source(srcset="img/x720/street-2-u.webp", media="(max-width: 991.98px) and (min-width: 415px)", type="image/webp")
                                                source(srcset="img/x720/street-2-u.png", media="(max-width: 991.98px) and (min-width: 415px)", type="image/png")
                                                source(srcset="img/x320/street-2-u.webp", media="(max-width: 414.98px)", type="image/webp")
                                                source(srcset="img/x320/street-2-u.png", media="(max-width: 414.98px)", type="image/png")
                                                source(srcset="img/street-2-u.webp", type="image/webp")
                                                img(data-src="img/street-2-u.png", alt=" ")



                                    .good__header 
                                        span.good__name Street ULTRA PRO
                                        span.span-wrapper 
                                            span.good__prop
                                                span.good__prop-dash —
                                                span.good__prop-text самый «Мощный х4»
                                            i.svg-flash.svg-flash-dims

                                    .good__adv 
                                        ul
                                            li Принимает интернет-сигнал даже там, где не ловит ваш телефон! 
                                            li Отлично подойдет для особо отдалённых регионов и мест со сложным природным ландшафтом.
                                            li Большая площадь антенны принимает самый слабый или отраженный сигнал.
                                            li Функционал как у предыдущей модели, только все мощнее!

                                    .good__prices 
                                        .price.price_part
                                            span.price-name В рассрочку:
                                            div от
                                                span.dig 2450 
                                                span.rub ₽
                                                span / месяц
                                        .price.price_total
                                            span.price-name Цена:
                                            div  
                                                span.dig 33 500
                                                span.rub ₽

                                    .good__btns
                                        .btn.btn_primary.btn_shiny.good-btn.good-btn_primary.modal-trigger(data-target="modal", data-form="test-street-utra-pro") Взять на тест-драйв
                                        a.btn.btn_outline.good-btn.good-btn_outline(target="_blank", href="https://ys-system.ru/wp-content/uploads/2018/11/instr_street-ultra-pro.pdf") Технические характеристики

                    .section__img.goods__box.lazy
                        picture 
                            source(srcset="img/box-1.webp", type="image/webp")
                            img(data-src="img/box-1.png", alt=" ")


                <!-- Help 
                |
                |================================================== -->
                section.section.form-section.help
                    .container.form-section__container
                        .form-section__inner 
                            .form-section__heading 
                                h3 Нужна помощь в подборе?
                                .form-section__subheading
                                    p Оставьте заявку и мы вам перезвоним!
                            .form-section__text.help__text
                                p Оставьте заявку на консультацию и подбор оборудования с нашим менеджером.

                            .form-section-wrapper 
                                form.form.form-section__form(action="mail.php", id="cbForm2" name="cbForm2" method="POST") 
                                    //- name-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userName", id="userName2", required) 
                                        label.form__label.form__label_control(for="userName2") 
                                            |Ваше имя
                                        i.svg-user.svg-user-dims.form-icon
                                    //- email-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userPhone", id="userPhone2", required) 
                                        label.form__label.form__label_control(for="userPhone2") 
                                            |Ваш телефон
                                        i.svg-phone.svg-phone-dims.form-icon

                                    input(type="hidden", value="Нужна помощь в подборе?", name="formTheme")
                                        
                                    //- submit
                                    .form__submit-wrap.form-section__submit.loader-container
                                        button.btn.btn_primary.btn_shiny.btn_full-width.form__submit(type="submit") Перезвоните мне






                <!-- Important
                |
                |================================================== -->
                section.section.important
                    .container.important__container
                        .section__heading.important-heading
                            h2 Почему важно
                                span.section__subheading
                                    |иметь наше устройство 
                            .section__img.important-heading__img.lazy 
                                picture 
                                    source(srcset="img/warn.webp", type="image/webp")
                                    img(data-src="img/warn.png", alt="Знак внимания")

                        .important__content 
                            //- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
                            .important__slider-wrapper
                                //- <!-- Slider main container -->
                                .important__slider
                                    //- <!-- Additional required wrapper -->
                                    .swiper-wrapper.important__item-wrapper
                                        //- <!-- Slides -->
                                        .swiper-slide.important-slide.important-slide_left
                                            .important__item
                                                .img-wrapper.lazy
                                                    picture 
                                                        source(srcset="img/imp-img-5.webp", type="image/webp")
                                                        img(data-src="img/imp-img-5.png", alt="Автомобиль скорой помощи")
                                                .item__title Прежде всего, это
                                                    br
                                                    |автономное средство связи
                                                .item__descr Всегда сможете вызвать скорую помощь, пожарных, полицию, даже если ваш телефон перестал принимать сигнал.
                                        
                                        .swiper-slide.important-slide.important-slide_right  
                                            .important__item
                                                .img-wrapper.lazy
                                                    picture 
                                                        source(srcset="img/imp-img-2.webp", type="image/webp")
                                                        img(data-src="img/imp-img-2.png", alt="Женщина звонит по телефону")
                                                .item__title Уезжая, оставайтесь
                                                    br
                                                    |на связи с близкими
                                                .item__descr 
                                                    span.d-block.d-inline_xxs Подарите возможность бабушкам
                                                    span.d-block.d-inline_xxs быть на видео-связи с внуками,
                                                    span.d-block.d-inline_xxs себе с коллегами и не пропадайте
                                                    span.d-block.d-inline_xxs из сети на долго! 

                                        .swiper-slide.important-slide.important-slide_left 
                                            .important__item  
                                                .img-wrapper.lazy
                                                    picture 
                                                        source(srcset="img/imp-img-1.webp", type="image/webp")
                                                        img(data-src="img/imp-img-1.png", alt="Камера видеонаблюдения")
                                                .item__title Не нужно переживать за дом
                                                    br
                                                    |и дачу в ваше отсутствие
                                                .item__descr 
                                                    |Установите онлайн камеры
                                                    span.d-block.d-inline_xxs и контролируйте в реальном времени
                                                    span.d-block.d-inline_xxs безопасность своего участка.


                                        .swiper-slide.important-slide.important-slide_right 
                                            .important__item  
                                                .img-wrapper.lazy
                                                    picture 
                                                        source(srcset="img/imp-img-3.webp", type="image/webp")
                                                        img(data-src="img/imp-img-3.png", alt="Ноутбук")
                                                .item__title Удаленная работа
                                                    br
                                                    |стала возможной
                                                .item__descr Не привязывайте себя к работе
                                                    span.d-block.d-inline_xxs или домашнему компьютеру, будьте на связь
                                                    span.d-block.d-inline_xxs в любом месте, и даже там где не ловит телефон.


                                        .swiper-slide.important-slide.important-slide_center 
                                            .important__item.important__item_last
                                                .img-wrapper.lazy
                                                    picture 
                                                        source(srcset="img/imp-img-4.webp", type="image/webp")
                                                        img(data-src="img/imp-img-4.png", alt="Телевизор")
                                                .item__title Кино и развлечения для всей семьи
                                                .item__descr Ваши дети будут рады, что на даче есть онлайн игры
                                                    span.d-block.d-inline_xxs и интернет, да и вы сами сможете отдохнуть от всего
                                                    span.d-block.d-inline_xxs за просмотром хорошего фильма или youtube.



                                    //- <!-- If we need navigation buttons -->
                                    .swiper-button-prev
                                    .swiper-button-next









                            .center-img.center-img__round.center-img__round_lg
                            .center-img.center-img__round.center-img__round_md
                            .center-img.center-img__round.center-img__round_sm
                            .center-img.center-img__street.lazy 
                                picture 
                                    source(srcset="img/imp-street.webp", type="image/webp")
                                    img(data-src="img/imp-street.png", alt="Усилитель Street-2 Pro")


                    .section__img.important__tree.important__tree_r.d-none.d-block_md.lazy
                        picture 
                            source(srcset="img/x720/imp-tree-right.webp", media="(max-width: 991.98px) and (min-width: 415px)", type="image/webp")
                            source(srcset="img/x720/imp-tree-right.png", media="(max-width: 991.98px) and (min-width: 415px)", type="image/png")
                            source(srcset="img/x320/imp-tree-right.webp", media="(max-width: 414.98px)", type="image/webp")
                            source(srcset="img/x320/imp-tree-right.png", media="(max-width: 414.98px)", type="image/png")
                            source(srcset="img/x720/imp-tree-right.png", type="image/webp")
                            img(data-src="img/x720/imp-tree-right.png", alt=" ")

                    .section__img.important__tree.important__tree_l.d-none.d-block_md.lazy
                        picture 
                            source(srcset="img/x720/imp-tree-left.webp", media="(max-width: 991.98px) and (min-width: 415px)", type="image/webp")
                            source(srcset="img/x720/imp-tree-left.png", media="(max-width: 991.98px) and (min-width: 415px)", type="image/png")
                            source(srcset="img/x320/imp-tree-left.webp", media="(max-width: 414.98px)", type="image/webp")
                            source(srcset="img/x320/imp-tree-left.png", media="(max-width: 414.98px)", type="image/png")
                            source(srcset="img/x720/imp-tree-left.webp", type="image/webp")
                            img(data-src="img/x720/imp-tree-left.png", alt=" ")

                    .section__bg.section__bg_cover.important__bg.lazy
                        picture
                            source(media="(max-width: 991.98px)", srcset="img/x720/bg-imp.webp", type="image/webp")
                            source(media="(max-width: 991.98px)", srcset="img/x720/bg-imp.png", type="image/png")
                            source(srcset="img/bg-imp.webp", type="image/webp")
                            img(data-src="img/bg-imp.png", alt=" ")













                <!-- Prize 
                |
                |================================================== -->
                section.section.form-section.prize
                    .container.form-section__container
                        .form-section__inner 
                            .form-section__heading.prize__heading
                                h3 Весь январь получите в подарок безлимитный тариф
                                .form-section__subheading
                                    p любого опереатора и доставку «Street» за наш счет!
                            .form-section__text.prize__text
                                p Оставьте заявку на консультацию и подбор оборудования с нашим менеджером.

                            .form-section-wrapper 
                                form.form.form-section__form(action="mail.php", id="cbForm3" name="cbForm3" method="POST") 
                                    //- name-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userName", id="userName3", required) 
                                        label.form__label.form__label_control(for="userName3") 
                                            |Ваше имя
                                        i.svg-user.svg-user-dims.form-icon
                                    //- email-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userPhone", id="userPhone3", required) 
                                        label.form__label.form__label_control(for="userPhone3") 
                                            |Ваш телефон
                                        i.svg-phone.svg-phone-dims.form-icon

                                    input(type="hidden", value="Весь январь получите в подарок...", name="formTheme")
                                        
                                    //- submit
                                    .form__submit-wrap.form-section__submit.loader-container
                                        button.btn.btn_primary.btn_shiny.btn_full-width.form__submit(type="submit") Оформить заказ
                        
                        .section__img.prize__sims.lazy
                            picture 
                                source(srcset="img/x720/sims-720.webp", media="(max-width: 991.98px)", type="image/webp")
                                source(srcset="img/x720/sims-720.png", media="(max-width: 991.98px)", type="image/png")
                                source(srcset="img/x320/sims-320.webp", media="(max-width: 575.98px)", type="image/webp")
                                source(srcset="img/x320/sims-320.png", media="(max-width: 575.98px)", type="image/png")
                                source(srcset="img/sims.webp", type="image/webp")
                                img(data-src="img/sims.png", alt=" ")






                <!-- Buy
                |
                |================================================== -->
                section.section.buy
                    .container.buy__container
                        .section__heading.buy__heading#buy
                            h2 Где купить
                                span.section__subheading
                                    |наши устройства

                        .buy__content
                            .buy__grid
                                .buy-text.buy-text-1
                                    .buy-text__heading
                                        h4 По всей России:
                                    .buy-text__body
                                        p Купить усилитель интернет-сигнала 
                                            span.text_primary-blue.text_bold Street 2, Street 2 Pro, Street Ultra Pro
                                            |, можно как в нашем интернет-магазине, так и заказать на крупных маркетплейсах, гипермаркетах электроники и бытовой техники, интернет магазинах и площадках.

                                .buy-img 
                                    .img-grid 
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/wb.webp", type="image/webp")
                                                img(data-src="img/wb.png", alt="wildberries")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/cdek.webp", type="image/webp")
                                                img(data-src="img/cdek.png", alt="сдек")
                                        .img-grid__item.lazy
                                             picture 
                                                source(srcset="img/chipidip.webp", type="image/webp")
                                                img(data-src="img/chipidip.png", alt="chipidip")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/mvideo.webp", type="image/webp")
                                                img(data-src="img/mvideo.png", alt="mvideo")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/ali.webp", type="image/webp")
                                                img(data-src="img/ali.png", alt="ali")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/yandex.webp", type="image/webp")
                                                img(data-src="img/yandex.png", alt="yandex")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/ozon.webp", type="image/webp")
                                                img(data-src="img/ozon.png", alt="ozon")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/pleer.webp", type="image/webp")
                                                img(data-src="img/pleer.png", alt="pleer")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/sber.webp", type="image/webp")
                                                img(data-src="img/sber.png", alt="sber")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/vseins.webp", type="image/webp")
                                                img(data-src="img/vseins.png", alt="все инструменты")
                                        .img-grid__item.lazy
                                            picture 
                                                source(srcset="img/kaspi.webp", type="image/webp")
                                                img(data-src="img/kaspi.png", alt="kaspi")


                                .buy-text.buy-text-2
                                    .buy-text__heading 
                                        h4 Отправка в страны СНГ и дальнего зарубежья
                                    .buy-text__body
                        


                                        p Мы готовы отправить наши устройства как к нашим ближайшим соседям - 
                                            span.text_semibold в Беларусь, Украину, Казахстан
                                            |, так и  
                                            span.text_semibold по всему миру.
                                        p   Отправка производится через транспортные компании, Почту России и любые другие службы перевозок.
                                        p   Для получения точной стоимости пересылки пожалуйста 
                                            a.text-link(href="tel:+79260017373") свяжитесь с нашими менеджерами. 

                        .section__img.buy__box.lazy
                            picture 
                                source(srcset="img/x320/buy-box.webp", media="(max-width: 414.98px)", type="image/webp")
                                source(srcset="img/x320/buy-box.png", media="(max-width: 414.98px)", type="image/png")
                                source(srcset="img/buy-box.webp", type="image/webp")
                                img(data-src="img/buy-box.png", alt=" ")

                    .section__bg.section__bg_cover.buy__bg.lazy
                        picture 
                            source(srcset="img/bg-buy.webp", type="image/webp")
                            img(data-src="img/bg-buy.png", alt=" ")



                <!-- Reviews
                |
                |================================================== -->
                section.section.reviews
                    .container.reviews__container
                        .section__heading.reviews__heading#reviews
                            h2 Только настоящие отзывы
                                span.section__subheading
                                    |от реальных покупателей


                    .reviews__slider-wrapper
                        //- <!-- Slider main container -->
                        .reviews__slider
                            //- <!-- Additional required wrapper -->
                            .swiper-wrapper
                                //- <!-- Slides -->
                                .swiper-slide.reviews-slide 
                                    .reviews-slide__img.lazy 
                                        picture 
                                            source(srcset="img/rev-img-1.webp", type="image/webp")
                                            img(data-src="img/rev-img-1.png", alt="отзыв")
                                .swiper-slide.reviews-slide 
                                    .reviews-slide__img.lazy 
                                        picture 
                                            source(srcset="img/rev-img-2.webp", type="image/webp")
                                            img(data-src="img/rev-img-2.png", alt="отзыв") 
                                .swiper-slide.reviews-slide 
                                    .reviews-slide__img.lazy 
                                        picture 
                                            source(srcset="img/rev-img-1.webp", type="image/webp")
                                            img(data-src="img/rev-img-1.png", alt="отзыв")
                                .swiper-slide.reviews-slide 
                                    .reviews-slide__img.lazy 
                                        picture 
                                            source(srcset="img/rev-img-2.webp", type="image/webp")
                                            img(data-src="img/rev-img-2.png", alt="отзыв") 
                                .swiper-slide.reviews-slide 
                                    .reviews-slide__img.lazy 
                                        picture 
                                            source(srcset="img/rev-img-1.webp", type="image/webp")
                                            img(data-src="img/rev-img-1.png", alt="отзыв")
                                .swiper-slide.reviews-slide 
                                    .reviews-slide__img.lazy 
                                        picture 
                                            source(srcset="img/rev-img-2.webp", type="image/webp")
                                            img(data-src="img/rev-img-2.png", alt="отзыв") 
  

                            .swiper-button-prev
                            .swiper-button-next




                <!-- Overviews
                |
                |================================================== -->
                section.section.overviews
                    .container.overviews__container
                        .section__heading.overviews-heading
                            h2 Обзоры от блогеров
                                span.section__subheading
                                    |на Street 2, Street 2 PRO и Street 2 Ultra

                        
                    .container.overviews__container.overviews__video-container
                        .main-video-wrapper
                            .main-video__img.lazy
                                picture 
                                    source(srcset="img/ov-main-vid.webp", type="image/webp")
                                    img(data-src="img/ov-main-vid.png", alt=" ")
                                a.play-btn.play-btn_lg.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=GJkENz9QoyI") 
                                    i.svg-ov-play-white.svg-ov-play-white-dims

                        .section__img.overviews__yt.lazy
                            picture 
                                source(srcset="img/x720/ov-img-4.webp", media="(max-width: 991.98px)", type="image/webp")
                                source(srcset="img/x720/ov-img-4.png", media="(max-width: 991.98px)", type="image/png")
                                source(srcset="img/ov-img-4.webp", type="image/webp")
                                img(data-src="img/ov-img-4.png", alt=" ")
                        .section__img.overviews__cam.lazy
                            picture 
                                source(srcset="img/ov-img-3.webp", type="image/webp")
                                img(data-src="img/ov-img-3.png", alt=" ")

                    .container.overviews__container
                        .video-grid
                            .video__img.lazy
                                picture 
                                    source(srcset="img/ov-vid-1.webp", type="image/webp")
                                    img(data-src="img/ov-vid-1.png", alt=" ")
                                    a.play-btn.play-btn_md.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=FvSdEtVruvA") 
                                        i.svg-ov-play-white.svg-ov-play-white-dims
                            .video__img.lazy
                                picture 
                                    source(srcset="img/ov-vid-2.webp", type="image/webp")
                                    img(data-src="img/ov-vid-2.png", alt=" ")
                                    a.play-btn.play-btn_md.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=yIwvuCkSggI") 
                                        i.svg-ov-play-white.svg-ov-play-white-dims
                            .video__img.lazy
                                picture 
                                    source(srcset="img/ov-vid-3.webp", type="image/webp")
                                    img(data-src="img/ov-vid-3.png", alt=" ")
                                    a.play-btn.play-btn_md.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=ZktSJdmZlhs") 
                                        i.svg-ov-play-white.svg-ov-play-white-dims
                            .video__img.lazy
                                picture 
                                    source(srcset="img/ov-vid-4.webp", type="image/webp")
                                    img(data-src="img/ov-vid-4.png", alt=" ")
                                    a.play-btn.play-btn_md.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=eGniutFG45k") 
                                        i.svg-ov-play-white.svg-ov-play-white-dims
                            .video__img.lazy
                                picture 
                                    source(srcset="img/ov-vid-5.webp", type="image/webp")
                                    img(data-src="img/ov-vid-5.png", alt=" ")
                                    a.play-btn.play-btn_md.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=1Fhx4hQyl1M") 
                                        i.svg-ov-play-white.svg-ov-play-white-dims
                            .video__img.lazy
                                picture 
                                    source(srcset="img/ov-vid-6.webp", type="image/webp")
                                    img(data-src="img/ov-vid-6.png", alt=" ")
                                    a.play-btn.play-btn_md.video__btn(data-fancybox, href="https://www.youtube.com/watch?v=6sKK8KzhYRg") 
                                        i.svg-ov-play-white.svg-ov-play-white-dims

                        .section__img.overviews__otv.lazy
                            picture 
                                source(srcset="img/ov-img-2.webp", type="image/webp")
                                img(data-src="img/ov-img-2.png", alt=" ")
                        .section__img.overviews__img1.d-none_sm.lazy
                            picture 
                                source(srcset="img/ov-img-1.webp", type="image/webp")
                                img(data-src="img/ov-img-1.png", alt=" ")


                    .section__bg.section__bg_cover.overviews__bg.lazy
                        picture 
                            source(srcset="img/bg-ov.webp", type="image/webp")
                            img(data-src="img/bg-ov.png", alt=" ")



                <!-- Social 
                |
                |================================================== -->
                .social
                    .container.social__container
                        .social__content
                            .social__heading
                                |Подписывайтесь на нас
                                span.section__subheading
                                    |в Instagram и Youtube
                            .social__links 
                                a.yt(target="_blank", href="https://www.youtube.com/channel/UCciMxtNSBcCdSRnLbfX73Qw") 
                                    i.svg-soc-yt-320.svg-soc-yt-320-dims.d-none.d-block_xs
                                    i.svg-soc-yt.svg-soc-yt-dims.d-none_xs
                                a.inst(target="_blank", href="https://www.instagram.com/internet_boosters/?utm_medium=copy_link") 
                                    i.svg-soc-inst-320.svg-soc-inst-320-dims.d-none.d-block_xs
                                    i.svg-soc-inst.svg-soc-inst-dims.d-none_xs
                        .social__phones-wrapper
                            .section__img.social__phones.lazy
                                picture 
                                    source(srcset="img/x720/soc-img-1.webp", media="(max-width: 991.98px)", type="image/webp")
                                    source(srcset="img/x720/soc-img-1.png", media="(max-width: 991.98px)", type="image/png")
                                    source(srcset="img/soc-img-1.webp", type="image/webp")
                                    img(data-src="img/soc-img-1.png", alt=" ")


                    .section__bg.section__bg_cover.social__bg.lazy
                        picture 
                            source(srcset="img/x720/bg-social.jpg", media="(max-width: 991.98px)", type="image/png")
                            img(data-src="img/bg-social.jpg", alt=" ")








                                        


                <!-- Questions 
                |
                |================================================== -->
                section.section.form-section.questions
                    .container.form-section__container
                        .form-section__inner 
                            .form-section__heading 
                                h3 Остались вопросы?
                            .form-section__text.questions__text
                                p Оставьте заявку на консультацию, перезвоним в течении 5 минут и ответим на все ваши вопросы

                            .form-section-wrapper 
                                form.form.form-section__form(action="mail.php", id="cbForm4" name="cbForm4" method="POST") 
                                    //- name-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userName", id="userName4", required) 
                                        label.form__label.form__label_control(for="userName4") 
                                            |Ваше имя
                                        i.svg-user.svg-user-dims.form-icon
                                    //- email-group
                                    .form__group.form__group_control.form-section__group
                                        input.form__control(type="text", name="userPhone", id="userPhone4", required) 
                                        label.form__label.form__label_control(for="userPhone4") 
                                            |Ваш телефон
                                        i.svg-phone.svg-phone-dims.form-icon

                                    input(type="hidden", value="Остались вопросы?", name="formTheme")
                                        
                                    //- submit
                                    .form__submit-wrap.form-section__submit.loader-container
                                        button.btn.btn_primary.btn_shiny.btn_full-width.form__submit(type="submit") Нужна консультация
                        
                        .section__img.questions__img1.lazy
                            picture 
                                source(srcset="img/x720/quest-img-1-720.webp", media="(max-width: 991.98px)", type="image/webp")
                                source(srcset="img/x720/quest-img-1-720.png", media="(max-width: 991.98px)", type="image/png")
                                source(srcset="img/x320/quest-img-1-320.webp", media="(max-width: 575.98px)", type="image/webp")
                                source(srcset="img/x320/quest-img-1-320.png", media="(max-width: 575.98px)", type="image/png")
                                source(srcset="img/quest-img-1.webp", type="image/webp")
                                img(data-src="img/quest-img-1.png", alt=" ")
                        .section__img.questions__img2.lazy
                            picture 
                                source(srcset="img/x720/quest-img-2.webp", media="(max-width: 991.98px)", type="image/webp")
                                source(srcset="img/x720/quest-img-2.png", media="(max-width: 991.98px)", type="image/png")
                                source(srcset="img/quest-img-2.webp", type="image/webp")
                                img(data-src="img/quest-img-2.png", alt=" ")









                <!-- Partnership
                |
                |================================================== -->
                section.section.partn
                    .container.partn__container
                        .section__heading.partn__heading
                            h2 
                                span.d-none_xxs Мы открыты к партнерству!
                                span.d-none.d-block_xxs Хочешь работать с нами?
                                span.section__subheading
                                    |Оставьте свои контакты и мы свяжемся с вами!

                        .partn__content
                            .partn__content_left

                                .partn__card.partn__card_first
                                    .partn-card__heading
                                        p.text_primary-blue Блогерам
                                    .partn-card__body
                                        p Если вы являетесь блогером по тематике 
                                            span.text_semibold электроника, строительство, дом, загородная жизнь, 
                                            |то мы с удовольствием предоставим вам наши усилители на ваши честные обзоры.

                                .partn__card 
                                    .partn-card__heading
                                        p.text_primary-blue Партнерам
                                    .partn-card__body
                                        p Прямо сейчас 
                                            span.text_semibold мы ищем представителей в каждом городе России. 
                                            |У нас большой маркетинговый план и нам нужно нам расширять наш рынок.
                                        p У нас есть видение, мы понимаем что мы делаем!

                                .partn__card.partn__card_lg
                                    .partn-card__body
                                        p Если вас заинтересовало наше предложение, 
                                            br
                                            span.text_semibold оставьте свои контакты и мы свяжемся с вами!

                                        .btn.btn_primary.btn_shiny.partn-card__btn.modal-trigger(data-target="modal", data-form="partn") Хочу стать партнером

                                    



                            .partn__content_right
                                .section__bg.partn-content__img.lazy
                                    picture 
                                        source(srcset="img/x720/bg-part.jpg", media="(max-width: 991.98px)", type="image/jpg")
                                        img(data-src="img/x720/bg-part.jpg", alt=" ")



                                .partn__video 
                                    div
                                        .partn-video__offer 
                                            |Посмотрите видео
                                            br
                                            |и узнайте подробнее!

                                    .partn__video-round
                                        i.svg-partn-line-round.svg-partn-line-round-dims
                                    .partn-video__btn-wrapper.lazy
                                        a(data-fancybox, href="https://www.youtube.com/watch?v=cBJ4OGk4stw").partn-video__btn 
                                        picture 
                                            source(srcset="img/part-play.webp", type="image/webp")
                                            img(data-src="img/part-play.png", alt="кнопка play")

                    
                    .section__img.partn__box.lazy
                        picture 
                            source(srcset="img/x720/partn-box.webp", type="image/webp")
                            img(data-src="img/x720/partn-box.png", alt=" ")


                    .section__bg.section__bg_cover.social__bg.partn__bg.lazy
                        picture 
                            source(srcset="img/x720/bg-part.jpg", media="(max-width: 991.98px)", type="image/jpg")
                            img(data-src="img/bg-part.jpg", alt=" ")



            |
            |
            |<!-- footer
            |================================================== -->
            include _includes/_footer.pug


        //- |
        //- |
        |
        |
        #modal.modal
            .modal__content.modal-callback
                .modal__header
                    h3 Консультация
                    p Прямо сейчас оставьте заявку на консультацию – расскажем как и ответим на все ваши вопросы.

                    button.modal-close.modal__close 
                        |
                        span.modal-close__item
                        |
                        |
                        span.modal-close__item

                .modal__body

                    form.form(action="mail.php", id="modalCbForm" name="modalCbForm" method="POST") 
                        //- name-group
                        .form__group.form__group_control
                            input.form__control(type="text", name="userName", id="userName", required) 
                            label.form__label.form__label_control(for="userName") 
                                |Ваше имя
                            i.svg-user.svg-user-dims.form-icon
                        //- email-group
                        .form__group.form__group_control
                            input.form__control(type="text", name="userPhone", id="userPhone", required) 
                            label.form__label.form__label_control(for="userPhone") 
                                |Ваш телефон
                            i.svg-phone.svg-phone-dims.form-icon

                        input#formTheme(type="hidden", value="Форма консультации", name="formTheme")
                            
                        //- submit
                        .form__submit-wrap.loader-container
                            button.btn.btn_primary.btn_full-width.form__submit(type="submit") Перезвоните мне

                        .form__footer
                            p Нажимая кнопку, Вы соглашаетесь
                                br
                                |с политикой конфиденциальности сайта

            .modal__overlay.modal-close


        //- script(src="https://code.jquery.com/jquery-3.6.0.js",
        //-         integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=",
        //-         crossorigin="anonymous")
                
        script(src="jQuery-3.6.0.js")

        //- script( src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js",
        //-         integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
        //-         crossorigin="anonymous")
        script(src="jquery.fancybox.min.js")
        script(src="swiper.min.js")
        script(src="js/script1.js")
