
header.header#header
    .container.header__container
        .logo-wrapper 
            .logo.header__logo#logo
                picture
                    source(srcset="img/logo.webp", type="image/webp")
                    img(src="img/logo.png", alt="Лого")
            .header__work Работаем с 2009 года

        .top-menu-wrapper
            nav.header-nav
                ul.top-menu
                    li.top-menu__item.dropdown.d-desktop
                        a(href="#goods") Товары
                        span.dropdown__arrow.svg-arrow-down-dims.svg-arrow-down
                        div.dropdown__box
                            ul.sub-menu
                                li.top-menu__item
                                    a(href="#street-2") Street II
                                li.top-menu__item
                                    a(href="#street-2-pro") Street II Pro
                                li.top-menu__item
                                    a(href="#street-ultra-pro") Street Ultra Pro
                    li.d-mobile 
                        ul
                            li.top-menu__item
                                a(href="#street-2") Street II
                            li.top-menu__item
                                a(href="#street-2-pro") Street II Pro
                            li.top-menu__item
                                a(href="#street-ultra-pro") Street Ultra Pro
                    li.top-menu__item
                        a(href="#about") О компании
                    li.top-menu__item
                        a(href="#reviews") Отзывы
                    li.top-menu__item
                        a(href="#buy") Где купить
                    li.top-menu__item.top-menu__item_last
                        a(href="#footer") Контакты
                    li.d-none.d-block_xs 
                        .btn.btn_secondary.btn_shiny.modal-trigger(data-target="modal", data-form="callback") Перезвоните мне


        .contacts-wrapper 
            .btn.btn_secondary.btn_shiny.header__callback-btn.modal-trigger(data-target="modal", data-form="callback") Перезвоните мне
            .header-contacts 
                div.header-phone
                    a(href="tel:+79260017373") +7 (926) 001-73-73
                div.header-mail 
                    a(href="mailto:internet.booster@mail.ru") internet.booster@mail.ru

        .top-menu-toggler
            .top-menu-toggler__item 
            .top-menu-toggler__item 
            .top-menu-toggler__item 
.top-menu-overl
