head
    |
    |
    <!--Basic Page Needs 
    |
    |==============================================-->
    meta(charset="UTF-8")
    title= page ? page.pageTitle : 'отсутствует переменная page'
    meta(name="description", content="Заказывайте усилители сигнала STREET для устойчивой связи и интернета от производителя YS System с доставкой по Москве и всей России.")
    meta(name="author", content="")
    meta(name="robots", content="index, nofollow")


    |
    |
    |<!--Fonts preload
    |==================================================-->
    |<!-- Raleway-Regular
    |==================================================-->
    link(rel="preload" as="font" href="fonts/Raleway-Regular.woff2" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Regular.woff" type="font/woff" crossorigin="anonymous") 
    link(rel="preload" as="font" href="fonts/Raleway-Regular.ttf" type="font/ttf" crossorigin="anonymous")
    |
    |
    |<!-- Raleway-Medium
    |================================================== -->
    link(rel="preload" as="font" href="fonts/Raleway-Medium.woff2" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Medium.woff" type="font/woff" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Medium.ttf" type="font/ttf" crossorigin="anonymous")
    |
    |
    |<!-- Raleway-SemiBold
    |================================================== -->
    link(rel="preload" as="font" href="fonts/Raleway-SemiBold.woff2" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-SemiBold.woff" type="font/woff" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-SemiBold.ttf" type="font/ttf" crossorigin="anonymous")
    |
    |
    |<!-- Raleway-Bold
    |================================================== -->
    link(rel="preload" as="font" href="fonts/Raleway-Bold.woff2" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Bold.woff" type="font/woff" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Bold.ttf" type="font/ttf" crossorigin="anonymous")
    //- И так далее с каждым начертанием шрифта
    |
    |<!--Fonts preload end-->


    |
    |
    |<!--Mobile Specific Metas 
    |================================================== -->
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")


    |
    |
    |<!--CSS
    |================================================== -->
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css")
    link(rel="stylesheet", href="jquery.fancybox.min.css")
    link(rel="stylesheet", href="swiper.min.css")
    link(rel="stylesheet", href="css/style.css")
    //- link(rel="stylesheet" href="css/fonts.css")
    //- link(rel="stylesheet" href="css/default.css")
    //- link(rel="stylesheet" href="css/grid.css")
    //- link(rel="stylesheet" href="css/layout.css")
    //- link(rel="stylesheet" href="css/media-queries.css")


    
    
    //- СТИЛИ ДЛЯ ПОДДЕРЖКИ РАЗНЫХ ВЕРСИЙ IE 
    //-----------------------------------------------------
    
    //- Стили для IE >= 10
    //- link(rel="stylesheet", href="css/gte-ie10-style.css")
    
    //- Стили для IE < 10
    
    //- [if lt IE 10]><link rel="stylesheet" href="css/lt-ie10-style.css"><![endif]


    |
    |
    |<!-- Favicons
    |================================================== -->
    //- Старый способ - подержка в IE10 
    //- link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

    //- SVG иконка для вкладок, размер "любой"
    link(rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png")

    //- link(rel="icon" href="img/favicons/favicon.svg" sizes="any" type="image/svg+xml")
    //- Или .png иконка размерами 16x16 и 32x32-для ретины
    //- Touch иконка работает на iPad4,
        //- не работает svg, формат .png для Apple 180x180
    //- link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" type="image/png")
    //- Manifest пока в основном для touch иконок для Android - минимум 192x192
    link(rel="manifest", href="manifest.webmanifest")